.scrollToTopButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: rem(8);
  right: rem(8);
  background: var(--color-secondary);
  border-radius: 100%;
  padding: 6px !important;
  z-index: 4;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;

  &_availableNow {
    @media (max-width: 768px) {
      bottom: rem(58);
    }
  }

  @include breakpoint(large) {
    bottom: rem(7);
    right: rem(14);
  }
  @media (min-width: 1380px) {
    bottom: rem(40);
  }

  &:hover {
    path {
      transform: scale(1.2);
    }
  }

  &_visible {
    opacity: 1;
  }

  svg {
    transform: rotate(-90deg);

    path {
      transition: transform 0.2s ease-in-out;
      transform-origin: center;
    }
  }
}
