.listing_item {
  max-width: 425px;
  margin: auto;
  margin-bottom: rem(32);

  @include breakpoint(medium) {
    width: calc(50% - 12px);
    margin: unset;
  }

  @include breakpoint(large) {
    width: calc(100% / 3 - 16px);
    max-width: 100%;
  }

  &_inner {
    @include breakpoint(medium) {
      display: block;
      display: flex;
      flex-flow: column;
      height: 100%;
    }
  }

  &_content {
    position: relative;
    padding: rem(24);
    background: white;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    flex: 1;
    &:before {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      top: -50px;
      background: url('/assets/topCurve.svg') no-repeat;
      height: 50px;
      background-size: cover;
      z-index: -1;
    }
  }

  &_title {
    font-size: rem(18);
    font-weight: var(--font-medium);
  }

  &_image {
    img {
      height: 180px;
      width: auto;
      margin: auto;
    }
  }
}
