.manufacturing {
  &_tabs {
    position: relative;
    color: var(--color-white);
    top: rem(-70);
    @include breakpoint(large) {
      top: rem(-127);
    }

    & > div > div {
      display: none;
    }
  }

  &_title {
    margin-bottom: rem(16);
    text-transform: uppercase;
    color: var(--color-primary);
    font-weight: var(--font-demi);
    white-space: pre-wrap;
    font-size: rem(18);
    @include breakpoint(large) {
      font-size: rem(20);
    }
    @include breakpoint(huge) {
      font-size: rem(24);
    }

    span {
      white-space: pre-wrap;
    }
  }

  &_container_small {
    @include breakpoint(large) {
      width: 73%;
      max-width: 1050px;
      margin-left: auto;
      margin-right: auto;
    }
    @include breakpoint(huge) {
      width: 61%;
      max-width: 1160px;
    }
  }

  &_text {
    display: block;
    font-size: clamp(0.875rem, 0.8143rem + 0.2589vw, 1.125rem);
    line-height: 1.25;
    margin: rem(16) 0;

    p {
      margin-bottom: rem(16);
    }

    a {
      color: var(--color-primary);
      font-weight: var(--font-medium);
    }
  }

  &_quote {
    border-left: 2px solid var(--color-primary);
    padding-left: rem(16);
    margin: rem(24) 0 rem(24) 0;
    font-size: clamp(0.875rem, 0.8143rem + 0.2589vw, 1.125rem);
    line-height: 1.25;

    @include breakpoint(large) {
      max-width: 1200px;
      margin: rem(40) auto rem(40) auto;
      padding-left: rem(20);
    }

    p {
      margin-bottom: rem(16);
    }
  }

  &_filling {
    margin-bottom: rem(16);

    & > div {
      padding: 0;
    }
    h3 {
      text-transform: uppercase;
    }
  }

  &_box {
    // margin: rem(24) 0;
    @include breakpoint(medium) {
      display: flex;
      gap: 40px;
      align-items: center;
      margin: rem(32) auto;

      .manufacturing_image {
        width: 40%;
      }

      .manufacturing_text {
        flex: 1;
      }
    }
    @include breakpoint(large) {
      gap: 40px;
      // max-width: 1000px;
      // margin: auto;

      .manufacturing_image {
        margin: 0;
      }
    }
    @include breakpoint(huge) {
      gap: 64px;
      margin: rem(64) auto;

      .manufacturing_image {
        width: 50%;
      }
    }
  }

  &_image {
    position: relative;
    margin: rem(24) 0;

    img {
      object-fit: cover;
      border-radius: 16px;
      // width: 100%;
      // height: auto;
    }
  }

  &_heading {
    display: block;
    margin-bottom: rem(16);
    font-size: rem(15);
    white-space: pre-wrap;
    @include breakpoint(large) {
      font-size: clamp(1.25rem, 0.75rem + 0.625vw, 1.5rem);
    }
  }

  &_section1 {
    padding-top: rem(24);
    margin-bottom: rem(24);

    &_top {
      @include breakpoint(medium) {
        margin: auto;
        display: flex;
        align-items: flex-start;
        gap: 32px;
      }
      @include breakpoint(large) {
        gap: 70px;
        max-width: 1560px;
      }
      @include breakpoint(huge) {
        gap: 100px;
      }
    }

    &_box {
      overflow: hidden;
      @include breakpoint(medium) {
        max-width: 585px;
      }
    }

    &_heading {
      margin-bottom: rem(24);
      @include breakpoint(medium) {
        margin-bottom: 0;
      }
    }

    &_image {
      @include breakpoint(huge) {
        width: 44% !important;
      }
    }

    &_image2 {
      @include breakpoint(large) {
        margin: rem(48) auto;
      }
      @include breakpoint(huge) {
        margin-top: rem(64);
      }
      img {
        margin: auto;
      }
    }
  }

  &_section2 {
    margin-top: rem(72);
    margin-bottom: rem(72);
    @include breakpoint(large) {
      margin-bottom: rem(140);
      margin-top: rem(140);
    }
    @include breakpoint(huge) {
      margin-bottom: rem(164);
      // margin-top: rem(164);
    }

    &_heading {
      // font-size: rem(18);
      @include breakpoint(large) {
        font-size: rem(28);
      }
      @include breakpoint(huge) {
        font-size: rem(32);
      }
    }

    &_image {
      margin-bottom: rem(24);
    }
  }

  &_section3 {
    &_heading {
      display: block;
      margin-bottom: rem(16);
      @include breakpoint(large) {
        font-size: rem(24);
      }
    }
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(1.4em);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
