.manufacturing {
  &_tabs {
    position: relative;
    color: var(--color-white);
    top: rem(-70);
    @include breakpoint(large) {
      top: rem(-127);
    }

    & > div > div {
      display: none;
    }
  }

  &_title {
    margin-bottom: rem(16);
    text-transform: uppercase;
    color: var(--color-primary);
    font-weight: var(--font-demi);
    white-space: pre-wrap;
    font-size: rem(20);
    font-size: clamp(1.25rem, 1.1286rem + 0.5178vw, 1.75rem);

    span {
      white-space: pre-wrap;
    }
  }

  section {
    font-weight: var(--font-thin);
  }

  &_container_small {
    @include breakpoint(large) {
      // width: 73%;
      // max-width: 1050px;
      margin-left: auto;
      margin-right: auto;
    }
    @include breakpoint(huge) {
      // width: 61%;
      // max-width: 1160px;
      width: 95%;
      max-width: 2200px;
    }
  }

  &_text {
    display: block;
    font-size: rem(14);
    font-size: clamp(0.875rem, 0.8143rem + 0.2589vw, 1.125rem);
    font-weight: var(--font-thin);
    line-height: 1.25;
    margin: rem(16) 0;

    p {
      margin-bottom: rem(16);
    }

    a {
      color: var(--color-primary);
      font-weight: var(--font-medium);
    }
  }

  &_quote {
    border-left: 2px solid var(--color-primary);
    padding: rem(8) 0 rem(8) rem(16);
    margin: rem(24) 0 rem(24) 0;
    font-size: rem(14);
    font-size: clamp(0.875rem, 0.8143rem + 0.2589vw, 1.125rem);
    line-height: 1.25;

    @include breakpoint(large) {
      // max-width: 1200px;
      margin: rem(24) auto rem(24) auto;
      padding-left: rem(20);
    }

    p {
      margin-bottom: rem(16);
      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      color: var(--color-primary);
      font-weight: var(--font-medium);
    }
  }

  &_filling {
    margin-bottom: rem(16);

    & > div {
      padding: 0;
    }
    h3 {
      text-transform: uppercase;
    }
  }

  &_box {
    @include breakpoint(medium) {
      display: grid;
      grid-template-columns: auto 45%;
      gap: 40px;
      align-items: center;
      margin: rem(24) auto;
    }
    @include breakpoint(large) {
      gap: 40px;

      .manufacturing_image {
        margin: 0;
      }
    }
    @include breakpoint(huge) {
      gap: 64px;
      margin: rem(24) auto;
    }
  }

  &_image {
    position: relative;
    margin: rem(24) 0;

    img {
      object-fit: cover;
      border-radius: 16px;
    }
  }

  &_heading {
    display: block;
    margin-bottom: rem(16);
    font-size: rem(15);
    white-space: pre-wrap;
    @include breakpoint(large) {
      font-size: clamp(1.25rem, 0.75rem + 0.625vw, 1.5rem);
    }
  }

  &_section1 {
    padding-top: rem(24);
    margin-bottom: rem(24);

    &_box {
      overflow: hidden;
      @include breakpoint(medium) {
        max-width: 585px;
      }
    }

    &_heading {
      margin-bottom: rem(24);
      @include breakpoint(medium) {
        margin-bottom: 0;
      }
    }

    &_image2 {
      @include breakpoint(large) {
        margin: rem(24) auto;
      }
      @include breakpoint(huge) {
        margin-top: rem(32);
      }
      img {
        margin: auto;
      }
    }
  }

  &_section2 {
    margin-top: rem(32);
    margin-bottom: rem(32);
    // @include breakpoint(large) {
    //   margin-bottom: rem(140);
    //   margin-top: rem(140);
    // }
    // @include breakpoint(huge) {
    //   margin-bottom: rem(164);
    //   margin-top: rem(164);
    // }

    &_heading {
      // font-size: rem(18);
      @include breakpoint(large) {
        font-size: rem(28);
      }
      @include breakpoint(huge) {
        font-size: rem(32);
      }
    }

    &_image {
      margin-bottom: rem(24);
    }
  }

  &_section3 {
    &_heading {
      display: block;
      margin-bottom: rem(16);
      @include breakpoint(large) {
        font-size: rem(24);
      }
    }
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(1.4em);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.videoResponsive {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.responsiveVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.title {
  font-weight: var(--font-regular);
  text-align: center;
  margin-bottom: 2rem;
  font-size: rem(22);
  font-size: clamp(2rem, 1.3932rem + 2.289vw, 4.5rem);
}
