.introText {
  padding-top: rem(100);
  padding-bottom: rem(100);
  color: white;
  overflow: hidden;

  @include breakpoint(large) {
    padding-bottom: rem(200);
  }
  @include breakpoint(huge) {
    padding-top: rem(200);
    // padding-bottom: rem(200);
  }

  &_text {
    margin-bottom: rem(24);
    font-size: rem(22);
    @include breakpoint(large) {
      margin-bottom: rem(40);
      font-size: rem(40);
      line-height: rem(52);
    }
    span {
      opacity: 0.1;
    }
  }

  &_subheading {
    color: var(--color-primary);
    font-size: rem(16);
    text-transform: uppercase;
    font-weight: var(--font-demi);
    letter-spacing: -0.6px;

    @include breakpoint(large) {
      font-size: rem(24);
    }
  }

  &_content {
    @include breakpoint(large) {
      max-width: 1330px;
      margin: auto;
    }
  }
}

// @keyframes pulse {
//   0% {
//     opacity: 0;
//   }
//   10% {
//     opacity: 0.5;
//     transform: scale(1.5);
//     transition: all 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
//   }
//   100% {
//     opacity: 1;
//     transform: scale(1);
//   }
// }
