.hp_banner {
  position: relative;
  // height: 100vh;
  height: calc(100svh + 50px);
  max-height: 800px;
  overflow: hidden;
  z-index: 2;
  @include breakpoint(large) {
    max-height: 1400px;
    height: calc(100vh + 100px);
  }

  &_inner {
    position: relative;
    height: 100%;
    overflow: hidden;

    // &:before {
    //   position: absolute;
    //   content: '';
    //   left: 0;
    //   top: 0;
    //   right: 0;
    //   bottom: 70%;
    //   background: linear-gradient(
    //     0,
    //     rgba(0, 0, 0, 0) 0%,
    //     rgba(0, 0, 0, 1) 100%
    //   );
    //   z-index: 1;
    // }
    &:after {
      position: absolute;
      content: '';
      left: 0;
      top: 30%;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
      );
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 41%, rgb(0, 0, 0) 117%);
    }
  }

  &_video {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    object-position: center center;
  }

  &_pause {
    position: absolute;
    bottom: rem(60);
    right: rem(16);
    z-index: 4;
    cursor: pointer;
    @include breakpoint(large) {
      bottom: rem(110);
      right: rem(32);

      path {
        transition: fill 0.3s ease;
      }

      &:hover {
        path {
          fill: var(--color-primary) !important;
        }
      }
    }
    @include breakpoint(huge) {
      right: rem(48);
    }
  }

  &_subtitle {
    font-size: clamp(1.5rem, 1.3786rem + 0.5178vw, 2rem);
    font-weight: var(--font-demi);
    text-transform: uppercase;
    color: transparent;

    @include breakpoint(large) {
      margin-bottom: 0;
    }

    span {
      animation: fadeInDown 1s;
      animation-fill-mode: forwards;
      color: white;
    }

    color: white;
    &_noAnimation {
      color: white;
    }
  }

  &_title {
    margin-bottom: rem(16);
    font-size: clamp(1.5rem, 1.1359rem + 1.5534vw, 3rem);
    font-weight: var(--font-demi);
    color: white;
    text-transform: uppercase;

    @include breakpoint(small) {
      transition-delay: unset;
    }

    @include breakpoint(large) {
      margin-bottom: 0;
    }
  }

  &_content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: rem(32) rem(16) rem(110) rem(16);
    z-index: 3;
    @include breakpoint(large) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: rem(90) rem(32) rem(164) rem(32);
      max-width: 2010px;
      margin: auto;
    }
    @include breakpoint(huge) {
      padding: rem(90) rem(48) rem(164) rem(48);
    }

    &_right {
      font-size: clamp(0.875rem, 0.8598rem + 0.0647vw, 0.9375rem);
      color: var(--color-white);
      @include breakpoint(large) {
        text-align: right;
        padding-bottom: rem(8);
        font-size: rem(15);
      }
      strong {
        font-weight: var(--font-regular);
        font-size: clamp(0.875rem, 0.7612rem + 0.4854vw, 1.34375rem);
        letter-spacing: 0.45px;
        @include breakpoint(large) {
          display: block;
          font-size: rem(21.5);
        }
      }
    }
  }

  button {
    border-radius: 8px;
    background: rgba(250, 250, 250, 0.15);
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    padding: rem(16) rem(32);
  }

  &_shape{
    @include breakpoint(large) {
      height: 150px;
    }
    &:after {
      box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
      left: -150px;
      right: -150px;
    }
  }

  &_noise {
    position: absolute;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
