.contact {
  &_main {
    margin-bottom: rem(80);

    @include breakpoint(large) {
      display: flex;
      gap: 56px;
      max-width: 1500px;
      align-items: flex-start;
      margin-bottom: rem(120);
    }

    &_left {
      margin-bottom: rem(64);
      @include breakpoint(large) {
        width: 50%;
        margin-bottom: 0;
      }
      &_title {
        margin-bottom: rem(16);
        font-size: rem(26);
        @include breakpoint(large) {
          font-size: rem(36);
        }
      }
      &_description {
        display: block;
        @include breakpoint(large) {
          max-width: 600px;
        }
      }
    }
    &_right {
      &_boxes {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;

        @include breakpoint(medium) {
          justify-content: space-evenly;
        }

        @include breakpoint(large) {
          justify-content: space-between;
        }
      }

      p {
        margin-bottom: rem(10);
      }

      strong {
        font-weight: var(--font-medium);
      }

      @include breakpoint(large) {
        width: 50%;
        &_column {
          &:nth-child(2) {
            display: flex;
            flex-flow: column;
            align-self: stretch;

            div {
              margin-top: auto;
            }
          }
        }
      }

      &_title {
        margin-bottom: rem(10);
        color: var(--color-primary);
        font-size: rem(20);
      }
    }
  }

  &_map {
    display: block;
    margin: rem(16) rem(-16) 0 rem(-16);
    position: relative;
    aspect-ratio: 2/1;
    @include breakpoint(medium) {
      aspect-ratio: 3/1;
      margin: rem(16) 0 0 0;
    }

    img {
      object-fit: cover;
      filter: grayscale(100%) invert(100%);
    }
  }
}
