.banner {
    position: relative;
    padding-top: rem(24);
    // @include breakpoint(large) {
    //   display: flex;
    //   gap: 120px;
    //   padding-top: rem(100);
    // }

    // &_content {
    //   margin-bottom: rem(60);
    //   @include breakpoint(large) {
    //     width: 50%;
    //   }
    // }

    &_title {
      margin-bottom: rem(24);
      padding: 0 rem(16);
      font-size: rem(32);
      font-weight: var(--font-demi);
      @include breakpoint(large) {
        max-width: 900px;
        font-size: rem(64);
      }
    }

    &_text{
      padding: 0 rem(16);
      @include breakpoint(large) {
        width: 580px;
        background: white;
        position: absolute;
        bottom: 0;
      }

    }

    &_description {
      margin-bottom: rem(24);
      @include breakpoint(large) {
        font-size: rem(18);
      }
    }

    &_buttons{
      display: flex;
      flex-flow: column;
      justify-content: center;
      gap: 8px;
      &_item{
        max-width: 280px;
        margin: auto;
        border-radius: 99px;
      }
    }

    &_protection {
      font-weight: var(--font-medium);
      text-align: center;
      font-size: rem(15);
      text-transform: uppercase;
      @include breakpoint(large) {
        background: gray;
      }

      &_levels{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: rem(4);
      }

      span {
        position: relative;
        font-size: rem(24);
        color: var(--color-primary);

        &:last-child:after{
          display: none;
        }

        &:after{
          position: relative;
          display: inline-block;
          margin: 0 rem(16);
          content: '';
          width: 16px;
          height: 16px;
          background: url('/assets/shieldGold.svg') center center no-repeat;
          background-size: contain;
        }
      }
    }

    &_image {
      // background: var(--color-gray2);
      background: linear-gradient(0deg, rgba(208,208,210,1) 20%, rgba(208,208,210,0) 100%);

      padding: rem(24) rem(16) rem(70) rem(16);

      @include breakpoint(large) {
        display: flex;
        flex-flow: column;
        align-items: flex-end;
      }

      &_wrap{
        margin-bottom: rem(24);
        @include breakpoint(large) {
          display: flex;
          justify-content: right;
          width: 100%;
          margin-bottom: 0;
          order: 2;
        }
      }
      img {
        width: 100%;
        @include breakpoint(large) {
          max-width: 760px;
        }
      }
    }
}