.slug {
  &_nav {
    display: none;
    @include breakpoint(large) {
      display: block;
      position: sticky;
      top: -1px;
      margin-top: -100px;
      padding-left: 35px;
      margin-bottom: 100px;
      color: white;
      z-index: 3;
      text-align: left;

      & > div {
        margin: unset;
      }
    }
  }

  &_description {
    padding-top: rem(40);
    padding-bottom: rem(40);

    @include breakpoint(medium) {
      max-width: 800px;
      margin: auto;
    }

    @include breakpoint(large) {
      padding-top: rem(100);
      padding-bottom: rem(100);
      font-size: rem(22);
      max-width: 1400px;
    }

    p {
      margin-bottom: rem(16);
    }
    a {
      color: var(--color-primary);
      font-weight: var(--font-medium);
    }
  }

  &_dimensions {
    padding-bottom: rem(60);
    
    @include breakpoint(large) {
      padding-top: rem(70);
      padding-bottom: rem(120);

      &_title {
        max-width: 1336px;
        margin: auto;
        margin-bottom: rem(48);
      }
    }

    &_wrap {
      @include breakpoint(medium) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      @include breakpoint(large) {
        align-items: center;
        justify-content: space-evenly;

        img {
          height: auto;
        }
      }
    }
  }

  &_slider {
    margin-bottom: rem(80);
    &_small {
      text-align: right;
      @include breakpoint(large) {
        max-width: 1280px;
        margin: auto;
      }
    }
  }

  &_gallery {
    padding: rem(40) 0;
    @include breakpoint(medium) {
      padding: rem(100) 0;
    }
  }
}
