.hpMiddleText {
  position: relative;
  display: block;
  padding-top: rem(40);
  padding-bottom: rem(40);
  font-size: clamp(1.125rem, 0.9885rem + 0.5825vw, 1.6875rem);
  z-index: 2;
  @include breakpoint(medium) {
    padding-bottom: rem(100);
    padding: 0 rem(48) rem(40) rem(48);
    text-align: center;
  }
  @include breakpoint(large) {
    padding-bottom: rem(160);
  }

  a,
  strong {
    font-weight: var(--font-demi);
    color: var(--color-primary);
  }
}
