.hpMiddleText {
  position: relative;
  display: block;
  padding-top: rem(40);
  padding-bottom: rem(40);
  font-size: clamp(1.125rem, 0.9885rem + 0.5825vw, 1.6875rem);
  z-index: 1;
  @include breakpoint(medium) {
    // display: flex;
    // align-items: flex-end;
    // gap: 64px;
    padding-bottom: rem(200);
    padding-top: 0;
    text-align: center;
    // font-size: rem(27);
  }
  // @include breakpoint(large) {
  //   gap: 100px;
  // }

  // h3 {
  //   margin-bottom: rem(20);
  //   font-size: clamp(1.5rem, 1.2573rem + 1.0356vw, 2.5rem);
  //   line-height: clamp(2.25rem, 1.9769rem + 1.165vw, 3.375rem);
  //   font-weight: var(--font-regular);
  //   @include breakpoint(medium) {
  //     margin-bottom: 0;
  //     width: 43%;
  //   }

  //   u {
  //     padding: 4px 8px;
  //     color: var(--color-white);
  //     font-weight: var(--font-medium);
  //     background: var(--color-primary);
  //     border-radius: 4px;
  //   }
  // }

  p {
    // color: var(--color-gray2);
    @include breakpoint(medium) {
      // width: 57%;
    }
  }

  a,
  strong {
    font-weight: var(--font-demi);
    color: var(--color-primary);
  }
}
