.header {
  padding-top: rem(16);
  padding-bottom: rem(16);
  height: 72px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  transition: background-color .2s ease-in-out;

  &.header--white {
    color: white;
  }

  &_sticky{
    background-color: var(--color-dark);
  }

  &_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_logo {
    @include breakpoint('large') {
      position: absolute;
      left: 0;
      right: 0;
      top: 20px;
      margin: auto;
      width: 110px;
      img {
        width: 110px;
      }
    }
  }

  &_burger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;  
    cursor: pointer;
    transition: background .3s ease-out;

    &_inner{
      display: block;
      background: white;
      height: 2px;
      width: 22px;
      transition: background .3s ease;
      @include breakpoint(large) {
        width: 14px;
      }

      &:before,
      &:after {
        content: '';
        display: block;
        background: white;
        position: absolute;
        height: 2px;
        width: 22px;
        border-radius: 2px;
        transition: background .3s ease, transform .3s ease;
        // transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        @include breakpoint(large) {
          width: 14px;
        }
      }
      &:before {
        margin-top: -6px;
        @include breakpoint(large) {
          margin-top: -4px;
        }
      }
      &:after {
        margin-top: 6px;
        @include breakpoint(large) {
          margin-top: -4px;
        }
      }
    }

    &:hover{
      background: white;
      .header_burger_inner{
        background: var(--color-dark);
        &:before,
        &:after{
          background: var(--color-dark);
        }
      }
    }

    .header_navOpen &{
      background: white;
      transform: scale(.9);
      transition: transform .2s ease;
      &:hover{
        transform: scale(1);
      }
      .header_burger_inner{
        background: transparent !important;
        &:before,
        &:after{
          margin: 0;
          background: var(--color-dark);
        }
        &:before{
          transform: rotate(135deg);
        }
        &:after{
          transform: rotate(225deg);
        }
      }

    }
    
    // &_open{
    // }

    // .header--white & {
    //   background: white;
    // }
  }

  &_right {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &_lang {
    font-weight: 500;
  }
}
