.event {
  position: relative;
  margin: rem(80) 0 rem(48) 0;
  padding: 0 rem(16);
  color: var(--color-secondary);

  @include breakpoint(medium) {
    max-width: 700px;
    margin: auto;
    margin-top: rem(100);
  }

  @include breakpoint(large) {
    max-width: 1380px;
    padding: 0 rem(32);
  }

  &_inner {
    background: white;
    border-radius: 12px;
    overflow: hidden;

    @include breakpoint(large) {
      display: flex;
      align-items: center;
    }
  }

  &_content {
    padding: rem(20);
    font-size: rem(14);
    text-align: center;

    @include breakpoint(large) {
      padding: 0 rem(60) 0 rem(60);
      width: 50%;
      font-size: rem(18);
      text-align: left;
    }
  }

  &_image {
    img {
      margin: auto;
    }

    @include breakpoint(large) {
      order: 1;
    }
  }

  &_info {
    display: flex;
    justify-content: space-between;
    font-weight: var(--font-medium);

    @include breakpoint(large) {
      justify-content: unset;

      p:first-child {
        margin-right: rem(60);
      }
    }
  }

  &_title {
    margin: rem(20) 0;
    font-size: rem(30);
    font-weight: var(--font-medium);

    @include breakpoint(large) {
      font-size: rem(45);
    }
  }

  &_button {
    margin-top: rem(20);
    padding: 13px 45px;
    border-radius: 10px;

    &:hover {
      background: var(--color-secondary) !important;
      color: white !important;
    }
  }

  &_ribbon {
    color: #fff;
    --f: 0.5em;

    position: absolute;
    top: 0;
    left: 16px;
    line-height: 1.8;
    padding-inline: 1lh;
    padding-bottom: var(--f);
    border-image: conic-gradient(#0008 0 0) 51% / var(--f);
    clip-path: polygon(
      100% calc(100% - var(--f)),
      100% 100%,
      calc(100% - var(--f)) calc(100% - var(--f)),
      var(--f) calc(100% - var(--f)),
      0 100%,
      0 calc(100% - var(--f)),
      999px calc(100% - var(--f) - 999px),
      calc(100% - 999px) calc(100% - var(--f) - 999px)
    );
    transform: translate(calc((cos(45deg) - 1) * 100%), -100%) rotate(-45deg);
    transform-origin: 100% 100%;
    background-color: var(--color-primary);

    @include breakpoint(large) {
      left: 32px;
    }
  }
}
