.banner {
  position: relative;
  padding-top: rem(24);
  // @include breakpoint(large) {
  //   display: flex;
  //   gap: 120px;
  //   padding-top: rem(100);
  // }

  // &_content {
  //   margin-bottom: rem(60);
  //   @include breakpoint(large) {
  //     width: 50%;
  //   }
  // }
  @include breakpoint(large) {
    max-width: 1920px;
    margin: auto;
    margin-bottom: rem(160);
    padding: rem(32) rem(32) 0 rem(32);
  }

  &_title {
    margin-bottom: rem(24);
    padding: 0 rem(16);

    h1 {
      font-size: rem(32);
      font-weight: var(--font-demi);
      font-size: clamp(2rem, 1.6359rem + 1.5534vw, 3.5rem);
    }
    @include breakpoint(large) {
      position: absolute;
      max-width: 50%;
      padding-bottom: 16px;
      padding-right: rem(24);
      margin-bottom: 0;
      background: #f3f3f3;
      border-bottom-right-radius: 32px;
      z-index: 2;

      &:before {
        position: absolute;
        content: '';
        left: -1px;
        bottom: -47px;
        height: 48px;
        width: 48px;
        background: url('/assets/smallCurveBg.svg') no-repeat;
        background-size: cover;
        transform: rotate(90deg);
      }
      &:after {
        position: absolute;
        content: '';
        top: 0;
        right: -47px;
        height: 48px;
        width: 48px;
        background: url('/assets/smallCurveBg.svg') no-repeat;
        background-size: cover;
        transform: rotate(90deg);
      }
    }
  }

  &_text {
    position: relative;
    padding: 0 rem(16);
    z-index: 1;
    @include breakpoint(large) {
      position: absolute;
      bottom: -1px;
      left: 31px;
      width: 542px;
      padding: rem(32) rem(32) rem(32) rem(16);
      background: var(--color-background);
      border-top-right-radius: 32px;

      &:before {
        position: absolute;
        content: '';
        left: 0px;
        top: -47px;
        height: 48px;
        width: 48px;
        background: url('/assets/smallCurveBg.svg') no-repeat;
        background-size: cover;
      }
      &:after {
        position: absolute;
        content: '';
        bottom: 0;
        right: -47px;
        height: 48px;
        width: 48px;
        background: url('/assets/smallCurveBg.svg') no-repeat;
        background-size: cover;
      }
    }
  }

  &_description {
    margin-bottom: rem(24);
    @include breakpoint(medium) {
      font-size: rem(22);
    }
    @include breakpoint(large) {
      font-size: rem(18);
    }

    strong {
      color: var(--color-primary);
    }
  }

  &_buttons {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 8px;
    @include breakpoint(large) {
      flex-flow: row;
      justify-content: unset;
      gap: 16px;
    }
    &_item {
      max-width: 280px;
      margin: auto;
      border-radius: 99px;
    }
  }

  &_protection {
    font-weight: var(--font-medium);
    text-align: center;
    font-size: rem(15);
    // text-transform: uppercase;

    @include breakpoint(large) {
      position: relative;
      margin-bottom: auto;
      // top: -90px;
      right: 0;
      padding: rem(8) rem(32) rem(16) rem(32);
      background: var(--color-background);
      // border-top-left-radius: 32px;
      // border-top-right-radius: 32px;
      border-bottom-left-radius: 32px;
      font-size: rem(16);
      z-index: 1;

      &:before {
        position: absolute;
        content: '';
        left: -47px;
        top: -2px;
        height: 48px;
        width: 48px;
        background: url('/assets/smallCurveGray.svg') no-repeat;
        background-size: cover;
        transform: rotate(180deg);
      }

      &:after {
        position: absolute;
        content: '';
        right: 0;
        bottom: -47px;
        height: 48px;
        width: 48px;
        background: url('/assets/smallCurveGray.svg') no-repeat;
        background-size: cover;
        transform: rotate(180deg);
      }
    }

    &_levels {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: rem(4);
    }

    span {
      display: flex;
      align-items: center;
      position: relative;
      font-size: rem(24);
      color: var(--color-primary);

      @include breakpoint(large) {
        font-size: rem(27);
      }

      &:last-child:after {
        display: none;
      }

      &:after {
        position: relative;
        display: inline-block;
        margin: 0 rem(16);
        content: '';
        width: 16px;
        height: 16px;
        background: url('/assets/shieldGold.svg') center center no-repeat;
        background-size: contain;
        @include breakpoint(large) {
          width: 13px;
          height: 13px;
          margin: 0 rem(8);
        }
      }
    }
  }

  &_image {
    // background: linear-gradient(
    //   0deg,
    //   rgba(208, 208, 210, 1) 20%,
    //   rgba(208, 208, 210, 0) 100%
    // );

    // background: linear-gradient(180deg, rgba(187, 170, 204, 0.20) 0%, rgba(0, 0, 0, 0.00) 100%), lightgray 0% 0% / 100px 100px repeat;

    background: linear-gradient(0deg, #d0d0d2 20%, hsla(240, 2%, 82%, 0));
    padding: rem(24) rem(16) rem(70) rem(16);

    @include breakpoint(large) {
      position: relative;
      display: flex;
      flex-flow: column;
      align-items: flex-end;
      padding-top: 0;
      // background: var(--color-gray2);
      border-top-left-radius: 32px;
      border-bottom-right-radius: 32px;
      background-color: rgb(70 70 70);
      justify-content: flex-end;
      padding: 0;

      height: 84vh;
      max-height: 800px;

      &:before {
        position: absolute;
        // content: '';
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        // background: linear-gradient(
        //   90deg,
        //   rgba(125, 110, 77, 0.3) 0.06%,
        //   rgba(125, 110, 77, 0) 76.03%
        // );
        border-top-left-radius: 32px;
        background: radial-gradient(
          circle,
          var(--color-primary),
          var(--color-dark)
        );
        filter: url(#grainy);
      }
    }

    &_wrap {
      position: relative;
      margin-bottom: rem(24);
      z-index: 1;
      @include breakpoint(large) {
        position: relative;
        bottom: -60px;
        right: -30px;
        display: flex;
        justify-content: center;
        width: calc(100% - 516px);
        margin-bottom: 0;
        order: 2;
      }
    }
    img {
      margin: auto;
      max-width: 100%;
      @include breakpoint(large) {
        margin: unset;
      }
    }
  }

  &_shape {
    @include breakpoint(large) {
      display: none;
    }
  }

  &_overlay {
    @include breakpoint(large) {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border-bottom-right-radius: 32px;
      overflow: hidden;

      // &_blob1{
      //   position: absolute;
      //   top: 13rem;
      //   left: -4rem;
      //   width: 100%;
      //   height: 100%;
      //   border-radius: 75% 90%;
      //   background-color: var(--color-primary);
      //   transform: rotate(19deg);
      //   filter: blur(75px);
      //   mix-blend-mode: soft-light;
      // }

      &_blob2 {
        width: 70vw;
        height: 60vw;
        border-radius: 50% 33%;
        background-color: #7d6e4d85;
        position: absolute;
        top: 50%;
        left: 20%;
        filter: blur(75px);
      }

      &_noise {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        border-top-left-radius: 32px;
        border-bottom-right-radius: 32px;
        overflow: hidden;

        &:before {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          filter: url(#noiseFilter) brightness(0.4) contrast(1.1);
          mix-blend-mode: overlay;

          opacity: 0.5;
        }
      }
    }

    // &_blob3{
    //   width: 25vw;
    //   height: 120vh;
    //   border-radius: 45% 40%;
    //   position: absolute;
    //   top: 23%;
    //   left: 75%;
    //   background-color: rgb(255 255 255);
    //   filter: blur(75px);
    //   mix-blend-mode: overlay;
    // }
  }
}
