.form {
  @include breakpoint(medium) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    max-width: 700px;
    margin: 0 auto;
  }

  &_group {
    @include breakpoint(medium) {
      width: calc(50% - 5px);

      &_full {
        width: 100%;
      }
    }
  }

  &_input {
    position: relative;
    padding: rem(14) rem(16);
    width: 100%;
    border-radius: 8px;
    background: var(--color-white);
    // font-size: rem(14);
    font-weight: var(--font-medium);
    border: 1px solid transparent;

    &::placeholder {
      font-weight: var(--font-regular);
      color: var(--color-secondary);
      font-size: rem(14);
    }

    .form_group.error & {
      border-color: #e74c3c;
    }

    &_error {
      color: #e74c3c;
      visibility: hidden;
      min-height: 15px;
      padding-top: 3px;
      padding-bottom: 8px;
      .form_group.error & {
        visibility: visible;
      }
    }
  }

  &_textarea {
    // margin-bottom: rem(16);
    @include breakpoint(medium) {
      width: 100%;
    }
  }

  &_select {
    cursor: pointer;

    &_selected {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      cursor: pointer;
      color: var(--color-dark);

      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 24px;
      }

      svg {
        transform: rotate(90deg);
        position: absolute;
        right: 0;
        transition: transform 0.3s ease-in-out;

        path {
          fill: var(--color-secondary);
        }
      }
    }

    &_placeholder {
      font-weight: var(--font-regular);
      color: var(--color-secondary);
    }

    &_active {
      svg {
        transform: rotate(-90deg);
      }
    }

    &_list {
      position: absolute;
      left: 0;
      width: 100%;
      display: flex;
      flex-flow: column;

      background-color: #f9f9f9;
      border-radius: 6px;
      margin-top: 26px;
      padding: 0 20px;
      max-height: 180px;
      overflow-y: auto;
      transition: 0.2s ease-in-out;
      height: 0;
      z-index: 1;

      &_active {
        height: 180px;
      }

      &::-webkit-scrollbar {
        width: 4px;
        background-color: #eee;
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--color-primary);
      }
    }

    &_option {
      padding: 8px 0;
      font-weight: var(--font-medium);
      font-size: 14px;
      cursor: pointer;
      transition: 0.3s ease-in-out;

      &:hover,
      &.selected {
        color: var(--color-primary);
      }
    }
  }

  &_submit {
    width: 100%;
    &_button {
      margin: auto;
      cursor: pointer;

      &:hover {
        background: var(--color-dark) !important;
        color: var(--color-white) !important;
      }
    }
  }
}
