.inquiry_form {
  padding-top: rem(64);
  padding-bottom: rem(32);

  @include breakpoint(large) {
    padding-top: rem(64);
  }

  @include breakpoint(huge) {
    padding-top: rem(80);
  }

  &_wrap {
    @include breakpoint(large) {
      max-width: 1500px;
      margin: auto;
    }
  }

  &_heading {
    margin-bottom: rem(24);
    font-weight: var(--font-medium);
    font-size: rem(16);
    font-size: clamp(1rem, 0.9545rem + 0.19vw, 1.1875rem);
    text-align: center;
    white-space: pre-wrap;
    text-transform: uppercase;
    color: var(--color-primary);
    font-weight: var(--font-demi);

    @include breakpoint(small) {
      font-size: 0.9rem;
    }
  }
}
