.partners {
  position: relative;
  padding-bottom: rem(50);
  z-index: 2;

  @include breakpoint(small) {
    padding-top: rem(32);
  }

  &_wrap {
    display: flex;
    flex-wrap: wrap;
  }

  &_heading {
    margin-bottom: 2rem;
    font-size: 1.25rem;
    font-weight: var(--font-medium);
    color: var(--color-primary);
    text-transform: uppercase;

    @include breakpoint(medium) {
      margin-bottom: 3rem;
      font-size: 2rem;
    }
  }

  span {
    font-weight: var(--font-regular);
  }

  &_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    justify-self: center;
    flex: 0 0 calc(50% - 4px);
    background: var(--color-grayLight);
    border-radius: 12px;
    padding: rem(10);
    height: 100px;
    margin-bottom: rem(8);

    &:not(:nth-child(2n)) {
      margin-right: rem(8);

      @include breakpoint(large) {
        margin: unset;
      }
    }

    &:nth-last-child(1):nth-child(odd) {
      flex: 0 0 100%;
      margin-right: 0;
    }

    @include breakpoint(large) {
      height: 160px;
      flex: 0 0 calc(100% / 4 - 16px);
      margin-bottom: rem(16);

      &:not(:nth-child(4n)) {
        margin-right: rem(16);
      }

      &:nth-last-child(1):nth-child(odd) {
        flex: 0 0 calc(100% / 4 - 16px);
      }
    }

    @for $i from 1 through 9 {
      &:nth-of-type(6n + #{$i}) {
        transition-delay: $i * 0.05s;
      }
    }

    img {
      margin-bottom: rem(5);
      height: 56px;
      width: auto;
      object-fit: contain;
      filter: grayscale(100%);
      transition: filter 0.1s ease-in-out;

      @include breakpoint(large) {
        height: 90px;
        margin-bottom: rem(15);
      }
    }

    h3 {
      font-size: rem(10);
      font-weight: 400;
    }

    &:hover {
      img {
        filter: grayscale(0);
      }
    }
  }
}
