.sidebar {
  color: white;

  @include breakpoint(large) {
    max-width: 320px;
  }

  &_plain{
    @include breakpoint(large) {
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 32px;
      margin-bottom: rem(80);

      .checkbox_span{
        transition: font-weight .3s ease;
        &:hover{
          font-weight: var(--font-medium);
        }
      }
    }
  }

  &_top {
    display: flex;
    justify-content: center;

    @include breakpoint(large) {
      justify-content: space-between;
      align-items: center;
      padding-bottom: rem(30);
      margin-bottom: rem(30);
      border-bottom: 1px solid var(--color-gray);

      .sidebar_plain &{
        border: none;
        margin: 0;
        padding: 0;
      }
    }

    &_title {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: rem(18);
      font-weight: var(--font-medium);

      .sidebar_plain &{
        color: var(--color-dark);
        svg path{
          fill: var(--color-dark);          
        }
      }
    }
  }

  &_clear {
    font-size: rem(15);
    text-decoration: underline;
    cursor: pointer;
    @include breakpoint(large) {
      display: none;
    }
  }

  &_wrap {
    @include breakpoint(untilLarge) {
      position: fixed;
      z-index: 1;
      padding: rem(88) rem(16) rem(16) rem(16);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.7);
      // display: flex;
      // align-items: center;
      visibility: hidden;
      opacity: 0.2;
      transition:
        opacity 0.1s ease-in,
        visibility 0.1s ease-in;
      overflow: auto;

      &_open {
        visibility: visible;
        opacity: 1;

        .sidebar_wrap_inner {
          visibility: visible;
          opacity: 1;
          transform: scale(1);
          transition:
            transform 0.3s ease-out,
            opacity 0.3s ease-out,
            visibility 0.3s ease-out;
        }
      }

      &_inner {
        padding: rem(64) rem(16) rem(24) rem(16);
        background: var(--color-dark);
        border-radius: 8px;
        visibility: hidden;
        opacity: 0.2;
        transform: scale(0.8);
        transform-origin: center;
        transition:
          transform 0.3s ease-in,
          opacity 0.1s ease-in,
          visibility 0.1s ease-in;
        // overflow: auto;
      }

      &_close {
        position: absolute;
        top: rem(16);
        right: rem(16);
        font-size: rem(20);
      }

      &_top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: rem(20);
        padding-bottom: rem(24);

        &_title {
          display: flex;
          align-items: center;
          gap: 16px;
        }
      }
    }
  }
  
  &_top{
    &_title{
      svg{
        @include breakpoint(large) {
          display: none;
        }
      }
    }
  }
  &_wrap{
    @include breakpoint(large) {
      &_top{
        &_title{
          display: none;
        }
      }
    }
    &_close {
      @include breakpoint(large) {
        display: none;
      }
    }
  }


  &_column {
    display: flex;
    flex-flow: column;
    font-size: rem(15);
    @include breakpoint(untilLarge) {
      border-top: 1px solid var(--color-gray);
      border-bottom: 1px solid var(--color-gray);

      &:last-child {
        border-bottom: none;
      }

      &_active {
        .sidebar_column_wrap {
          max-height: 500px;
        }
        .sidebar_column_chevron {
          transform: rotate(-90deg);
        }
      }
    }

    &_active {
      .sidebar_plain &{
        .sidebar_column_wrap {
          max-height: 500px;
        }
        .sidebar_column_chevron {
          transform: rotate(-90deg);
        }
      }
    }

    @include breakpoint(large) {
      padding-bottom: rem(30);

      .sidebar_plain &{
        position: relative;
        padding-bottom: 0;
        border: 1px solid var(--color-grayDark);
        background: white;
        border-radius: 8px;
        height: 40px;
        width: 270px;
        display: flex;
        justify-content: center;
        padding: 0 rem(16);
        cursor: pointer;
      }
    }

    &_title {
      font-size: rem(16);
      font-weight: var(--font-regular);

      @include breakpoint(untilLarge) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: rem(24) rem(16);
      }

      @include breakpoint(large) {
        margin-bottom: rem(20);
        font-size: rem(18);

        .sidebar_plain &{
          margin-bottom: 0;
          color: var(--color-dark);
          // font-weight: var(--font-medium);
          font-size: rem(15);
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }

    &_chevron {
      transform: rotate(90deg);
      transition: transform 0.1s ease;
      @include breakpoint(large) {
        display: none;
        .sidebar_plain &{
          display: block;
          path{            
            fill: var(--color-dark)
          }
        }
      }
    }

    &_wrap {      
      .sidebar_plain &{
        @include breakpoint(large) {
          position: absolute;
          top: 33px;
          left: -1px;
          right: -1px;
          background: white;
          border-left: 1px solid var(--color-grayDark);
          border-right: 1px solid var(--color-grayDark);
          border-top: 0;
          overflow: hidden;
          max-height: 0px;
          padding: 0 rem(16);
          transition: max-height 0.3s ease;
          z-index: 1;

          .checkbox{
            &_span{
              color: var(--color-dark);
              &:before {
                display: none;
              } 
            }
            &_link:first-child {
              padding-top: rem(20);
            }
          }
        }
      }

      @include breakpoint(untilLarge) {
        overflow: hidden;
        max-height: 0px;
        padding: 0 rem(16);
        transition: max-height 0.3s ease;

        .checkbox_link:first-child {
          padding-top: rem(8);
        }
      }
    }
  }
}

.checkbox_link {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: rem(15);
  cursor: pointer;
  overflow: hidden;
}
.checkbox_span {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 2px;
  color: var(--color-grayDark);
  font-size: rem(14);
  @include breakpoint(large) {
    font-size: rem(15);
  }

  &:before {
    content: '';
    width: rem(24);
    height: rem(24);
    border-radius: 3px;
    transition: background 0.1s ease-in-out;
    // box-shadow: inset 0 0 0 1px var(--color-grayDark);
    border: 1px solid var(--color-grayDark);
    background: var(--color-gray);
    overflow: hidden;
  }
  &:after {
    position: absolute;
    content: '';
    left: 4px;
    top: 4px;
    width: rem(20);
    height: rem(20);
    background: url('/assets/check.svg') center center no-repeat;
    background-size: contain;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
  }
}

.selected_filter {
  .checkbox_span:before {
    // box-shadow: inset 0 0 0 24px var(--color-primary);
    background: var(--color-primary);
  }
  .checkbox_span:after {
    opacity: 1;
  }
}
