.locations {
  &_heading {
    margin-bottom: rem(20);
    font-size: rem(20);
    font-weight: var(--font-medium);
    color: var(--color-primary);
    text-transform: uppercase;

    @include breakpoint(large) {
      font-size: rem(30);
    }
  }

  &_category {
    margin-bottom: rem(80);
  }

  &_list {
    @media (min-width: 500px) {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }
    @include breakpoint(large) {
      gap: 16px;
    }
  }

  &_card {
    display: flex;
    flex-direction: column;
    padding: rem(16);
    margin-bottom: rem(16);
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 30px 0 #e8e5e2;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 4px 30px 0 #afafae;
    }

    @media (min-width: 500px) {
      width: calc(50% - 4px);
      margin-bottom: 0;
    }
    @include breakpoint(large) {
      width: calc(33.333% - 11px);
    }
    @include breakpoint(huge) {
      width: calc(25% - 16px);
    }

    &_region {
      font-size: rem(12);
      font-weight: var(--font-demi);
      text-transform: uppercase;
    }

    &_flag {
      margin: rem(12) 0;

      img {
        max-height: 40px;
        width: auto;
      }
    }

    &_country {
      color: var(--color-dark);
      font-size: rem(18);
      font-weight: var(--font-demi);
    }
  }
}
