.articleSingle {
  position: relative;
  overflow: hidden;
  padding-top: 5rem;
  @include breakpoint(huge) {
    padding-top: rem(100);
  }

  &:before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    background: var(--color-white);
    height: 250px;
    @include breakpoint(large) {
      height: 450px;
    }
    @include breakpoint(huge) {
      height: 550px;
    }
  }

  &:after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 250px;
    background: var(--color-white);
    height: 100px;
    left: -100px;
    right: -100px;
    border-radius: 50% / 0 0 100% 100%;
    z-index: -1;
    @include breakpoint(large) {
      top: 450px;
    }
    @include breakpoint(huge) {
      top: 550px;
    }
  }

  &_title {
    position: relative;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 1.0752rem + 1.8123vw, 3.25rem);
    font-weight: var(--font-demi);
    letter-spacing: -1px;
    @include breakpoint(large) {
      margin-bottom: 2rem;
    }
  }

  &_thumbnail {
    position: relative;
    border-radius: 8px;
    width: 100%;
    margin-bottom: rem(12);
  }

  &_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: rem(16);
    @include breakpoint(medium) {
      margin-bottom: rem(48);
    }
  }

  &_date {
    margin-right: 8px;
    margin-bottom: 8px;
    font-size: rem(12);
    text-transform: uppercase;
    font-weight: var(--font-medium);
    @include breakpoint(medium) {
      font-size: rem(14);
      margin: 0;
    }
  }

  &_tags {
    display: flex;
    flex-wrap: wrap;
    font-size: rem(13);

    @include breakpoint(medium) {
      font-size: rem(14);
    }

    &_item {
      padding: rem(5) rem(10);
      background: var(--color-grayLight);
      border-radius: 8px;
      margin-right: 10px;
      margin-bottom: 10px;

      @include breakpoint(large) {
        margin: 0 0 0 10px;
      }
    }
  }

  &_content {
    position: relative;
    @include breakpoint(large) {
      // max-width: 80%;
      margin: auto;
    }
  }
}
