.banner {
  position: relative;
  overflow: hidden;
  padding: 0 rem(10) 0 rem(10);
  z-index: 1;
  @include breakpoint(large) {
    padding: 0 rem(24) 0 rem(24);
    max-width: 1920px;
    margin: auto;
  }

  &_inner {
    position: relative;
    display: flex;
    align-items: flex-end;
    min-height: 360px;
    color: white;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    overflow: hidden;

    @include breakpoint(large) {
      height: 600px;
      border-top-left-radius: 32px;
      border-top-right-radius: 32px;
    }

    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
      // opacity: 0.3;
      z-index: 1;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      @include breakpoint(large) {
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;
      }
    }
  }

  &_media {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
    @include breakpoint(large) {
      padding-bottom: 40px;
    }
  }

  &_content {
    position: relative;
    padding: 0 rem(16) rem(80) rem(16);
    z-index: 1;
    @include breakpoint(large) {
      padding: 0 rem(16) rem(132) rem(32);
      max-width: 1900px;
      flex: 1;
    }
  }

  &_title {
    font-weight: var(--font-demi);
    font-size: rem(32);
    @include breakpoint(large) {
      font-size: rem(48);
    }
  }

  &_text {
    font-size: rem(14);
    @include breakpoint(large) {
      font-size: rem(24);
      max-width: 800px;
      width: calc(100% - 600px);
    }

    strong {
      // display: block;
      // margin-top: rem(8);
      font-size: clamp(1.5rem, 1.1359rem + 1.5534vw, 3rem);
    }

    del{
      display: block;
      font-size: 0;
    }
  }
}
