.media {
  &_heading {
    margin-bottom: rem(32);
    text-transform: uppercase;
    font-size: clamp(2rem, 1.3932rem + 2.589vw, 4.5rem);
    font-weight: var(--font-demi);
    line-height: 1.1;
    @include breakpoint(large) {
      margin-bottom: rem(48);
    }
  }

  &_button {
    position: relative;
    margin-top: rem(32);
    text-align: center;
    @include breakpoint(large) {
      margin-top: rem(80);
    }
    &_link {
      &:hover {
        background: var(--color-dark) !important;
        color: var(--color-white) !important;
      }
    }
  }

  &_news {
    padding-top: rem(16);
    @include breakpoint(medium) {
      padding-top: rem(24);
    }

    & > div {
      padding-top: 0;
      @include breakpoint(large) {
        padding-top: rem(40);
      }
      @include breakpoint(huge) {
        padding-top: rem(80);
      }
    }
  }

  &_videos {
    padding-top: rem(80);

    @include breakpoint(medium) {
      //   max-width: 730px;
      //   margin: auto;
      padding-top: 0;
    }

    @include breakpoint(large) {
      width: 80%;
      max-width: 1320px;
      padding-top: rem(40);
    }

    &_list {
      @include breakpoint(medium) {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
      }

      & > div {
        margin-bottom: rem(16);

        @include breakpoint(medium) {
          width: calc(50% - 5px);
          flex: unset;
          max-width: unset;
          margin-bottom: 0;
        }
      }
    }
  }

  &_tradeShows {
    padding-top: rem(80);
    padding-bottom: rem(80);

    @include breakpoint(medium) {
      // max-width: 730px;
      // margin: auto;
      padding-top: rem(100);
    }

    @include breakpoint(large) {
      width: 80%;
      max-width: 1320px;
      padding-top: rem(140);
    }

    &_list {
      @include breakpoint(medium) {
        display: flex;
        flex-wrap: wrap;
        column-gap: 32px;
        row-gap: 64px;
      }
    }
  }
}
