.mediaList {
  &_list {
    padding-top: rem(20);
    margin-bottom: rem(40);
    overflow: hidden;

    @include breakpoint(large) {
      margin-bottom: rem(80);
    }

    &_slider {
      position: relative;

      &_inner {
        display: flex;
        & > div:not(:last-child) {
          margin-right: 16px;
          @include breakpoint(large) {
            margin-right: 24px;
          }
        }
      }

      &_arrows {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: rem(20);
      }

      &_arrow {
        margin: 0 10px;
        height: 30px;
        width: 30px;
        border-radius: 20px;
        background: var(--color-dark);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        @include breakpoint(large) {
          height: 40px;
          width: 40px;
          transition: background 0.2s ease;
          &:hover {
            background: var(--color-gray);
          }
        }

        &_next {
          transform: rotate(180deg);
        }

        &_disabled {
          background: var(--color-grayDark);
          &:hover {
            background: var(--color-grayDark);
          }
        }

        svg {
          width: 12px;
          @include breakpoint(large) {
            width: 16px;
          }
          path {
            fill: var(--color-white);
          }
        }
      }
    }

    &_title {
      padding-bottom: rem(16);
      margin-bottom: rem(16);
      border-bottom: 1px solid var(--color-primary);
      font-size: rem(20);
      // font-size: clamp(1.5rem, 1.3786rem + 0.5178vw, 2rem);
      letter-spacing: -1px;
      @include breakpoint(large) {
        padding-bottom: rem(24);
        margin-bottom: rem(24);
        font-size: rem(24);
      }
    }
  }

  &_item {
    position: relative;
    flex: 0 0 95%;
    cursor: pointer;
    border-radius: 16px;
    overflow: hidden;
    max-width: 500px;

    @include breakpoint(medium) {
      flex: 0 0 47%;
    }

    @include breakpoint(large) {
      flex: 0 0 32%;
    }

    @include breakpoint(huge) {
      flex: 0 0 27%;
    }

    &:before {
      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 100%
      );
    }

    img {
      max-height: 190px;
      object-fit: cover;
      width: 100%;
      @include breakpoint(medium) {
        max-height: 280px;
      }
    }

    &_caption {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      padding: rem(10);
      color: var(--color-white);
      font-size: rem(14);
      font-size: clamp(0.875rem, 0.8295rem + 0.1942vw, 1.0625rem);

      &_box {
        display: flex;
        flex-flow: column;
        flex: 1;
      }

      svg {
        width: 30px;
        margin-right: 8px;
      }
    }

    &_location {
      margin-top: rem(4);
      font-size: rem(13);
      color: var(--color-primary);
    }
  }
}
