.inventory_item {
  position: relative;
  padding: rem(8);
  margin-bottom: rem(24);
  background: #2b2b2b;
  color: #fff;
  border-radius: 8px;
  flex-basis: 470px;
  flex-grow: 1;
  max-width: 570px;

  @include breakpoint(medium) {
    padding: rem(10);
    margin-bottom: 0;
    // flex-basis: 50%;
    flex-basis: calc(50% - 16px);
  }

  @include breakpoint(huge) {
    // width: calc(100% / 3 - 16px);
    // width: calc(50% - 12px);
    flex-basis: calc(100% / 3 - 16px);
  }

  // &:before {
  //   position: absolute;
  //   content: '';
  //   left: 0;
  //   right: 0;
  //   background: white;
  //   bottom: 0;
  //   top: 100px;
  //   z-index: -1;
  //   border-radius: 12px;
  // }

  // &_stock {
  // }

  &_content {
    padding: rem(24) rem(14) rem(22) rem(14);
    @include breakpoint(medium) {
      padding: rem(24) rem(8) rem(16) rem(8);
    }
  }

  &_title {
    margin-bottom: rem(16);
    font-size: rem(18);
    font-weight: var(--font-medium);
    @include breakpoint(medium) {
      font-size: rem(20);
    }
  }

  &_level {
    display: inline-block;
    margin-bottom: rem(30);
    padding: rem(7) rem(12);
    text-transform: uppercase;
    background: var(--color-grayLight);
    font-weight: var(--font-medium);
    font-size: rem(14);
    color: var(--color-text);
    border-radius: 4px;

    @include breakpoint(medium) {
      font-size: rem(14);
    }

    span {
      color: var(--color-primary);
      font-weight: var(--font-demi);
    }
  }

  &_info {
    display: flex;
    flex-flow: column;
    grid-row-gap: 16px;
    font-size: rem(13);
    letter-spacing: -0.5px;
    @include breakpoint(medium) {
      // display: flex;
      // flex-flow: wrap;
      // justify-content: space-between;
      // grid-row-gap: 20px;
      // font-size: rem(16);
      font-size: rem(15);
    }

    &_item {
      display: flex;
      justify-content: space-between;
    }
  }

  &_image {
    img {
      width: 100%;
      max-height: 300px;
      object-fit: cover;
      border-radius: 8px;
    }
  }
}
