.navigation {
  @include breakpoint('untilLarge') {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: white;
    z-index: 1;
    padding: 40px;
    display: none;
  }

  &_list {
    display: flex;
    flex-flow: column;
    gap: 32px;
    @include breakpoint(medium) {
      flex-flow: row;
    }
  }
  &_item {
    font-weight: 500;
    position: relative;
    font-size: rem(14);
    text-transform: uppercase;

    &:after {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      bottom: -6px;
      height: 2px;
      background: var(--color-primary);
      transform: scaleX(0);
      transform-origin: left;
      transition: transform .3s cubic-bezier(.4,0,0,1);
    }

    &_active, &:hover {
      &:after {
        transform: scaleX(1);
      }
    }
  }
}
