.navigationPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-top: rem(72);
  background: rgba(#171717, 0.9);
  backdrop-filter: blur(20px);
  color: white;
  user-select: none;
  z-index: 2;

  visibility: hidden;
  opacity: 0.2;
  transform: scale(1.2);
  transform-origin: center;
  transition:
    transform 0.3s ease-in,
    opacity 0.1s ease-in,
    visibility 0.1s ease-in;
  @include breakpoint(large) {
    padding-top: 0;
  }

  &_open {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition:
      transform 0.3s ease-out,
      opacity 0.3s ease-out,
      visibility 0.3s ease-out;
  }

  &_inner {
    height: 100%;
    display: flex;
    flex-flow: column;
    padding: 0 rem(16);
    @include breakpoint(large) {
      // max-width: 1440px;
      // margin: auto;
      padding: 0 rem(48);
    }
  }

  &_nav {
    text-align: center;
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    @include breakpoint(large) {
      justify-content: space-evenly;
      align-items: center;
      text-align: left;
      flex-flow: row;
    }
  }

  &_list {
    &_left {
      margin-bottom: rem(32);
      @include breakpoint(large) {
        margin-bottom: 0;
      }
    }
    @include breakpoint(large) {
      &:hover .navigationPopup_item:not(:hover) {
        opacity: 0.3;
        transform: translateX(10px);
      }
    }
  }

  &_item {
    font-weight: 500;
    position: relative;
    font-size: rem(22);
    text-transform: uppercase;
    font-weight: var(--font-medium);
    transition:
      opacity 0.2s ease,
      transform 0.2s ease;
    @include breakpoint(large) {
      font-size: clamp(2.1875rem, 0.5625rem + 2.0313vw, 3rem);
    }

    .navigationPopup_list_right & {
      font-size: rem(16);
      font-weight: var(--font-regular);
    }

    &_active {
      color: var(--color-primary);
    }

    // @for $i from 1 through 10 {
    //     .navigationPopup_open &:nth-child(#{$i}) .navigationPopup_link{
    //         transition-delay: #{$i * 0.07}s;
    //     }
    //     .navigationPopup_open .navigationPopup_list_right &:nth-child(#{$i}) .navigationPopup_link{
    //         transition-delay: #{$i * 0.03}s;
    //     }
    // }
  }

  &_link {
    display: inline-block;
    // left: -20px;
    // opacity: 0;
    // transition: opacity .1s ease, left .1s ease;
    position: relative;
    padding: rem(8);
    @include breakpoint(large) {
      padding: rem(16);
    }

    // .navigationPopup_open &{
    //     opacity: 1;
    //     left: 0;
    //     transition: opacity .2s cubic-bezier(0.16, 1, 0.3, 1), left .2s cubic-bezier(0.16, 1, 0.3, 1);
    // }

    .navigationPopup_list_right & {
      padding: rem(8);
      // left: 0;
      // opacity: 1;
    }
  }

  &_bottom {
    align-items: center;
    flex-flow: column;
    padding: rem(8) 0;
    display: none;
    @include breakpoint(large) {
      display: flex;
      justify-content: space-between;
      flex-flow: row;
      margin-top: unset;
      padding: rem(20) 0;
    }
  }

  &_socials {
    display: flex;
    gap: 16px;
    margin-top: rem(24);
    @include breakpoint(large) {
      margin-top: rem(0);
    }
  }

  &_contact {
    display: flex;
    flex-flow: column;
    gap: 16px;
    font-size: rem(13);
    @include breakpoint(large) {
      justify-content: space-between;
      flex-flow: row;
      margin-top: unset;
      gap: 32px;
    }
    &_item {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}
