.search {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding: rem(24);
  color: var(--color-white);
  background: rgba(23, 23, 23, 0.9);
  z-index: 7;
  backdrop-filter: blur(20px);

  input {
    width: 100%;
    // max-width: 400px;
    margin-bottom: rem(24);
    padding: 0 0 rem(8) rem(8);
    font-size: rem(16);
    font-size: clamp(1rem, 0.8786rem + 0.5178vw, 1.5rem);
    background: transparent;
    border: 0;
    border-bottom: 1px solid var(--color-white);
    border-radius: 0;
    color: var(--color-white);
    outline: none;
    -webkit-appearance: unset;
  }

  & > div {
    width: 100%;
    max-width: 600px;
  }

  a {
    margin-bottom: 10px;
    display: block;
  }
}
