.search {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding: var(--header-height) rem(12) rem(12) rem(12);
  color: var(--color-white);
  background: rgba(23, 23, 23, 0.9);
  z-index: 7;
  backdrop-filter: blur(20px);
  letter-spacing: -0.5px;

  input {
    width: 100%;
    margin-bottom: rem(24);
    padding: 0 0 rem(8) rem(8);
    font-size: rem(16);
    font-size: clamp(1rem, 0.8786rem + 0.5178vw, 1.5rem);
    background: transparent;
    border: 0;
    border-bottom: 1px solid var(--color-white);
    border-radius: 0;
    color: var(--color-white);
    outline: none;
    -webkit-appearance: unset;
  }

  &_inner {
    position: relative;
    width: 100%;
    max-width: 600px;

    &:after {
      position: absolute;
      content: 'X';
      font-weight: 600;
      cursor: pointer;
      pointer-events: none;

      right: 2px;
      top: 4px;
      width: 11px;
      height: 14px;
      font-size: 13px;

      @include breakpoint(large) {
        font-size: 20px;
        right: 0px;
        top: 4px;
        width: 20px;
        height: 20px;
      }
    }
  }

  a {
    margin-bottom: 10px;
    display: block;
    @include breakpoint(small) {
      display: flex;
      flex-flow: column;
    }
  }
}
