.downloads {
  @include breakpoint(large) {
    display: flex;
    flex-wrap: wrap;

    &_column {
      width: 50%;
    }
  }

  &_group {
    margin-bottom: 40px;

    &_title {
      margin-bottom: 16px;
      font-weight: var(--font-medium);
      font-size: 24px;
    }
  }

  ul {
    list-style-type: disc;
    padding-left: 16px;
    margin-left: 5px;
  }

  li {
    font-weight: var(--font-medium);
    margin-bottom: 10px;
    font-size: 14px;
  }
}
