.tradeShowsSingle {
  padding-top: rem(16);
  border-top: 1px solid var(--color-gray);
  max-width: 500px;
  margin: auto;
  margin-bottom: rem(32);

  @include breakpoint(medium) {
    display: flex;
    flex-flow: column;
    // width: calc(100% / 3 - 22px);
    margin: unset;
    margin-bottom: 0;
    cursor: pointer;
  }

  img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    margin-top: auto;
  }

  h4 {
    margin-bottom: rem(4);
    font-size: rem(15);
    font-size: clamp(0.9375rem, 0.892rem + 0.1942vw, 1.125rem);
    letter-spacing: -1px;
  }

  p {
    margin-bottom: rem(8);
    font-size: rem(13);
    font-size: clamp(0.8125rem, 0.7973rem + 0.0647vw, 0.875rem);
  }

  &_link {
    margin-top: rem(16);
    padding: rem(8) rem(20);
    cursor: pointer;
    max-width: 130px;
    @include breakpoint(small) {
      margin: auto;
      margin-top: rem(8);
    }
  }

  &_list {
    border: none;
    overflow: hidden;
    max-width: 500px;
    flex: 0 0 95%;
    padding-top: 0;

    @include breakpoint(medium) {
      flex: 0 0 47%;
    }

    @include breakpoint(large) {
      flex: 0 0 32%;
    }

    @include breakpoint(huge) {
      flex: 0 0 23%;
    }

    img {
      height: 200px;
    }
  }

  &_content {
    display: flex;
    flex: 1;
    border: 1px solid #ccc;
    margin-top: 5px;
    text-align: center;
  }

  &_left {
    flex: 1;
    padding: 10px;
    border-right: 1px solid #ccc; /* Vertical line separator */
  }

  &_right {
    flex: 1;
    padding: 10px;

    h4 {
      margin-top: 0;
      font-weight: bold;
    }

    p {
      margin-bottom: 0;
    }
  } 
  
  .year {
    font-size: 2rem; /* Larger font size for year */
    font-weight: bold; /* Bold font weight for year */
  }

  .buttonContainer {
    display: flex;
    justify-content: center; /* Center align items horizontally */
  }
}
