.textReveal {
  overflow: hidden;
  text-align: center;
  font-weight: var(--font-demi);
  font-size: clamp(2rem, 0.5133rem + 6.343vw, 8.125rem);
  span {
    display: inline-block;
    transform: translateY(110%);
    transition: 0.5s;
    min-width: 1rem;
    white-space: pre;
  }
}
