.langSwitcher {
    position: relative;
    font-weight: var(--font-medium);
    font-size: rem(14);
    text-transform: uppercase;

    &_current{
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
    }

    &:hover{
        .langSwitcher_wrap{
            opacity: 1;
            bottom: 20px;
            visibility: visible;

            @include breakpoint('medium') {
                top: 16px;
                bottom: auto;
            }
        }
    }

    &_item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;  
        cursor: pointer; 
    }
        
    &_name{
        flex: 1;
    }

    &_wrap{
      background-color: var(--color-dark);
      /* display: none; */
      position: absolute;
      display: flex;
      flex-flow: column;
      gap: 14px;
      bottom: 10px;
      left: -17px;
      padding: 16px;
      min-width: 100px;
      opacity: 0;
      visibility: hidden;
      transition: opacity .4s ease, top .4s ease;

      @include breakpoint('medium') {
        top: -10px;
        bottom: auto;
      }

      img{
        height: 16px;
      }
    }
  }