.carousel {
  --slide-size: 100%;
  --slide-spacing: 0;
  position: relative;

  &_variableWidth {
    --slide-size: 30%;
    --slide-spacing: 16px;
  }

  @include breakpoint(large) {
    display: flex;
    gap: 16px;
    align-items: flex-start;
  }

  &_viewport {
    position: relative;
    overflow: hidden;

    @include breakpoint(large) {
      width: calc(100% - 160px - 16px);

      .carousel_variableWidth & {
        width: 100%;
      }
    }
  }

  &_container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;

    @include breakpoint(large) {
      margin-left: 0;
      height: 100%;
    }
  }

  &_slide {
    flex: 0 0 var(--slide-size);
    padding-left: var(--slide-spacing);
    position: relative;
    // height: 50vh;

    @include breakpoint(medium) {
      // height: 32rem;
      cursor: pointer;
    }

    @include breakpoint(large) {
      // height: 40rem;

      .carousel_variableWidth & {
        height: rem(600);
      }
    }

    &:after {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 20%,
        rgba(0, 0, 0, 1) 100%
      );
      .carousel_variableWidth & {
        display: none;
      }
      @include breakpoint(medium) {
        // display: none;
      }
    }

    &_img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include breakpoint(medium) {
        border-radius: 8px;
        max-height: 500px;

        .carousel_variableWidth & {
          border-radius: 0;
          filter: brightness(90%);
        }
      }
    }
  }

  &_zoom {
    position: absolute;
    right: rem(8);
    bottom: rem(16);
    cursor: pointer;
    z-index: 1;
    pointer-events: none;
    @include breakpoint(medium) {
      bottom: rem(8);
    }

    .carousel_variableWidth & {
      bottom: rem(100);
    }
  }

  &_thumbs {
    // position: absolute;
    // bottom: rem(32);
    // left: 0;
    // right: 0;
    display: none;

    @include breakpoint(medium) {
      display: block;
      position: relative;
      bottom: 0;
      margin-top: rem(8);
      height: 100px;
    }

    @include breakpoint(large) {
      width: 160px;
      // padding: rem(40) 0;
      margin-top: 0;
    }

    &_viewport {
      position: relative;
      overflow: hidden;

      @include breakpoint(large) {
        height: 100%;

        &:before,
        &:after {
          position: absolute;
          content: '';
          left: 0;
          right: 0;
          height: 24px;
        }

        &:before {
          top: 0;
          z-index: 1;
          background: linear-gradient(
            180deg,
            rgba(16, 16, 16, 1) 0%,
            rgba(16, 16, 16, 0) 100%
          );
        }

        &:after {
          bottom: 0;
          background: linear-gradient(
            180deg,
            rgba(16, 16, 16, 0) 0%,
            rgba(16, 16, 16, 1) 100%
          );
        }
      }
    }

    &_container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      @include breakpoint(medium) {
        position: relative;
        gap: 8px;
        justify-content: unset;
      }

      @include breakpoint(large) {
        flex-flow: column;
        height: 100%;
      }
    }

    &_slide {
      margin-left: rem(8);
      position: relative;
      background: var(--color-gray);
      border-radius: 100%;
      overflow: hidden;
      width: 10px;
      height: 10px;
      transform: scale(0.6);
      transition: transform 0.2s;

      @include breakpoint(medium) {
        background: unset;
        width: 100%;
        flex: 0 0 28%;
        min-height: 100px;
        border-radius: unset;
        transform: scale(1);
        margin-left: 0;
      }

      @include breakpoint(large) {
        min-height: 108px;
        flex: 1;
      }

      &_button {
        -webkit-appearance: none;
        background-color: transparent;
        touch-action: manipulation;
        display: block;
        text-decoration: none;
        cursor: pointer;
        border: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        opacity: 0.2;
        transition: opacity 0.2s;
      }

      &_selected {
        background: white;
        transform: scale(1);
        @include breakpoint(medium) {
          width: 100%;
          background: unset;
        }

        .carousel_thumbs_slide_button {
          opacity: 1;
        }
      }

      &_img {
        display: block;
        width: 100%;
        object-fit: cover;
        opacity: 0;

        @include breakpoint(medium) {
          opacity: 1;
          border-radius: 8px;
          height: 100%;
        }
      }
    }

    &_arrows {
      @include breakpoint(untilLarge) {
        display: none;
      }
    }
  }

  &_arrows {
    @include breakpoint(large) {
      display: none;

      .carousel_variableWidth & {
        display: block;
      }
    }
  }

  &_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: rem(16);
    -webkit-appearance: none;
    touch-action: manipulation;
    cursor: pointer;
    color: white;
    width: rem(16);
    height: rem(16);
    z-index: 1;
    svg {
      width: 16px;
    }
    @include breakpoint(large) {
      top: 8px;
      transform: rotate(90deg);
      right: 0;
      left: 0;
      margin: 0 auto;

      .carousel_variableWidth & {
        transform: none;
        top: 50%;
        left: rem(16);
        right: auto;
        width: rem(40);
        height: rem(40);
      }
    }

    &_next {
      left: auto;
      right: rem(16);
      @include breakpoint(large) {
        top: auto;
        left: 0;
        right: 0;
        bottom: 8px;
        transform: rotate(90deg);

        .carousel_variableWidth & {
          left: auto;
          right: rem(16);
        }
      }
    }

    &:disabled {
      opacity: 0.3;
    }
  }
}
