.carouselCurved {
  --slide-size: 100%;
  --slide-spacing: 0;
  position: relative;
  overflow: hidden;
  margin-top: -20px;
  margin-bottom: 30px;

  @include breakpoint(medium) {
    --slide-size: 60%;
    --slide-spacing: 8px;

    .carouselCurved_wrapper_squared & {
      --slide-size: 35%;
    }
  }

  @include breakpoint(large) {
    // margin-top: -50px;
    margin-bottom: 70px;
  }

  @include breakpoint(huge) {
    --slide-size: 40%;
    margin-top: -40px;
    margin-bottom: 60px;

    .carouselCurved_wrapper_squared & {
      --slide-size: 27%;
    }
  }

  // &_wrapper {
  //   padding: rem(40) 0;
  //   @include breakpoint(medium) {
  //     padding: rem(64) 0;
  //   }
  // }

  &_shape {
    height: 30px;
    @include breakpoint(huge) {
      height: 50px;
    }
    &:after {
      left: -30px;
      right: -30px;
      @include breakpoint(huge) {
        left: -50px;
        right: -50px;
      }
    }
  }

  &_shapeAfter {
    position: relative;
    z-index: 1;
    &:after {
      .carouselCurved_wrapper_white & {
        background: var(--color-background);
      }
    }
  }

  &_container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;

    @include breakpoint(large) {
      margin-left: 0;
      height: 100%;
    }
  }

  &_slide {
    flex: 0 0 var(--slide-size);
    padding-left: var(--slide-spacing);
    position: relative;

    @include breakpoint(medium) {
      cursor: pointer;
    }

    &_img {
      // display: block;
      position: relative;
      height: 100%;
      // aspect-ratio: 1.3/1;
      img {
        // width: 100%;
        // height: 100%;
        object-fit: cover;
        filter: brightness(90%);
      }
    }
  }

  &_zoom {
    position: absolute;
    right: rem(8);
    bottom: rem(8);
    cursor: pointer;
    z-index: 1;
    pointer-events: none;

    @include breakpoint(large) {
      bottom: rem(16);
    }
  }

  &_arrows {
    button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: rem(4);
      -webkit-appearance: none;
      touch-action: manipulation;
      cursor: pointer;
      color: white;
      width: rem(28);
      height: rem(28);
      z-index: 1;
      background: var(--color-dark);
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background 0.2s ease;

      @include breakpoint(large) {
        margin: 0 auto;
        width: rem(40);
        height: rem(40);
      }

      &:nth-child(2) {
        left: auto;
        right: rem(4);
      }

      &:hover {
        background: var(--color-gray);
      }

      svg {
        width: 10px;
        @include breakpoint(large) {
          width: 16px;
        }
      }
    }
  }
}
