.carouselCurved {
  --slide-size: 100%;
  --slide-spacing: 0;
  position: relative;
  overflow: hidden;
  margin-top: -20px;
  margin-bottom: 30px;

  @include breakpoint(medium) {
    --slide-size: 60%;
    --slide-spacing: 8px;
    margin-top: -33px;
    margin-bottom: 20px;
  }

  @include breakpoint(large) {
    margin-top: -50px;
    margin-bottom: 49px;
  }
  
  @include breakpoint(huge) {
    --slide-size: 36%;
  }

  &_shapeAfter {
    position: relative;
    z-index: 1;
    &:after {
      background: var(--color-background);
    }
  }

  &_container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;

    @include breakpoint(large) {
      margin-left: 0;
      height: 100%;
    }
  }

  &_slide {
    flex: 0 0 var(--slide-size);
    padding-left: var(--slide-spacing);
    position: relative;

    @include breakpoint(medium) {
      cursor: pointer;
    }

    &_img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(90%);
    }
  }

  &_zoom {
    position: absolute;
    right: rem(8);
    bottom: rem(8);
    cursor: pointer;
    z-index: 1;
    pointer-events: none;
    @include breakpoint(medium) {
      bottom: rem(16);
    }
    @include breakpoint(large) {
      bottom: rem(32);
    }
  }

  &_arrows {
    button{
      position: absolute;
      top: 50%;
      left: rem(8);
      -webkit-appearance: none;
      touch-action: manipulation;
      cursor: pointer;
      color: white;
      width: rem(16);
      height: rem(16);
      z-index: 1;
      @include breakpoint(large) {
        margin: 0 auto;
        width: rem(40);
        height: rem(40);
      }

      &:nth-child(2){
        left: auto;
        right: rem(8);
      }

      svg {
        width: 16px;
      }

    }
  }
}
