.counter {
  display: flex;
  overflow: hidden;
  height: 3.5rem;
  font-size: 3.5rem;
  line-height: 3.5rem;

  @include breakpoint(large) {
    height: 4.5rem;
    font-size: 4.5rem;
    line-height: 4.5rem;
  }

  &_digit {
    &_wrap{
      transition: margin-top 1.2s cubic-bezier(0, 0.1, 0.58, 1), opacity 0.3s ease-in-out;
      opacity: 0;
    }  

    font-weight: bold;
    color: #333;
  }
}