.listing {
  &_wrap {
    // padding-top: rem(24);
    padding-bottom: rem(80);

    @include breakpoint(large) {
      padding-top: 0;
      max-width: 1470px;
      position: relative;
      z-index: 1;

      &_inventory {
        display: flex;
        gap: 50px;
        max-width: 1920px;
      }
    }
  }
  &_list {
    padding-top: rem(32);
    @include breakpoint(medium) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      column-gap: 24px;
      row-gap: 48px;
      flex: 1;
    }
    @include breakpoint(large) {
      padding-top: 0;
      justify-content: unset;
    }
  }

  &_empty {
    text-align: center;
    margin-top: rem(48);
    @include breakpoint(large) {
      font-size: rem(24);
    }
  }
}
