.listing {
  &_wrap {
    padding-top: rem(24);
    padding-bottom: rem(120);

    @include breakpoint(large) {
      padding-top: 0;
      max-width: 1470px;

      &_inventory {
        padding-top: rem(24);
        display: flex;
        gap: 50px;
        padding-top: rem(80);
        max-width: 1920px;
      }
    }
  }
  &_list {
    padding-top: rem(64);
    @include breakpoint(medium) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      column-gap: 24px;
      row-gap: 48px;
      flex: 1;
    }
    @include breakpoint(large) {
      padding-top: 0;
      justify-content: unset;
    }
  }
}
