.listing {
  &_wrap {
    padding-top: rem(120);

    @include breakpoint(large) {
      display: flex;
      gap: 50px;
    }
  }
  &_list {
    padding-top: rem(50);
    @include breakpoint(large) {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      flex: 1;
    }
  }
}