.listing {
  &_wrap {
    position: relative;
    padding-bottom: rem(20);
    z-index: 2;

    @include breakpoint(large) {
      padding-top: 0;
      padding-bottom: rem(80);
      max-width: 1470px;

      &_inventory {
        display: flex;
        gap: 50px;
        max-width: 2200px;
      }
    }
  }
  &_list {
    padding-top: rem(32);
    @include breakpoint(medium) {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: space-evenly;
      column-gap: 24px;
      row-gap: 48px;
      flex: 1;
    }
    @include breakpoint(large) {
      padding-top: 0;
      justify-content: unset;
    }

    &_error {
      text-align: center;
      margin-top: rem(32);
      font-weight: var(--font-medium);
      @include breakpoint(large) {
        flex: 1;
        font-size: rem(24);
        position: absolute;
        left: 0;
        right: 0;
      }
    }
  }

  &_empty {
    text-align: center;
    margin-top: rem(48);
    @include breakpoint(large) {
      font-size: rem(24);
    }
  }

  &_all_filters {
    @include breakpoint(large) {
      position: relative;
      margin-bottom: -100px;
      padding: 0;
      top: rem(-191);
      right: 40px;
      z-index: 3;
      transform-origin: right;
    }
  }
}
