.news {
  & > div {
    padding-top: rem(120);
    padding-bottom: rem(40);
    @include breakpoint(large) {
      padding-top: rem(160);
      padding-bottom: rem(160);
      margin-bottom: rem(-60);
    }
  }
}
