.news {
  padding-top: rem(16);
  @include breakpoint(medium) {
    padding-top: rem(24);
  }

  & > div {
    padding-top: 0;
    &:before,
    &:after {
      display: none;
    }
  }

  &_authorHeading {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;

    @include breakpoint(large) {
      margin-top: 60px;
      margin-bottom: 40px;
    }

    &_title {
      font-size: 28px;
      margin-bottom: 10px;

      @include breakpoint(large) {
        font-size: 38px;
      }

      span {
        font-weight: var(--font-medium);
      }
    }

    &_info {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: rem(30);
      font-weight: var(--font-medium);

      @include breakpoint(small) {
        font-size: 15px;
      }

      a {
        line-height: 1;
      }

      svg {
        margin-left: 10px;
      }
    }

    &_description {
      margin-top: 10px;

      p {
        font-size: 14px;

        @include breakpoint(huge) {
          font-size: 15px;
        }
      }
    }
  }
}
