.CookieConsent {
  &_container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    z-index: 50;
    max-width: 27rem;
    margin-left: auto;

    @include breakpoint(medium) {
      right: 20px;
      bottom: 20px;
    }
  }

  &_popup {
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 1rem;
    border: 1px solid #e5e7eb;
  }

  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    h2 {
      font-size: 1.125rem;
      font-weight: 600;
    }
  }

  &_description {
    margin-bottom: 1rem;
    font-size: 14px;
  }

  &_buttonContainer {
    @include breakpoint(medium) {
      display: flex;
      gap: 1rem;
    }
  }

  &_button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem;
    border-radius: 0.375rem;
    color: var(--color-primary);
    font-size: 14px;
    font-weight: 500;
    border: 2px solid var(--color-primary);
    cursor: pointer;
    transition:
      background 0.2s ease-in-out,
      color 0.2s ease-in-out,
      border-color 0.2s ease-in-out;

    @include breakpoint(small) {
      margin-bottom: 0.5rem;
      width: 100%;
    }

    &.acceptButton {
      background-color: var(--color-primary);
      color: white;
    }

    &:hover {
      background: var(--color-dark);
      color: var(--color-white);
      border-color: var(--color-dark);
    }
  }
}
