.accordion {
  @include breakpoint(medium) {
    max-width: 1220px;
  }

  &_title {
    margin-bottom: rem(24);
    font-size: rem(24);
    text-align: center;
    @include breakpoint(large) {
      margin-bottom: rem(48);
      font-size: rem(32);
    }
  }

  &_item {
    margin-bottom: rem(8);
    background: var(--color-grayLight);
    border-radius: 8px;
    color: var(--color-dark);

    &_heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: rem(16);
      font-size: rem(15);
      font-size: clamp(0.875rem, 0.8447rem + 0.1294vw, 1rem);
      font-weight: var(--font-regular);
      cursor: pointer;

      @include breakpoint(small) {
        font-size: 14px;
      }

      @include breakpoint(large) {
        padding: rem(16) rem(32);
      }

      &_title {
        flex: 1;
      }
    }

    &_content {
      padding: 0 rem(16);
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-in-out;
      font-size: rem(13);
      font-size: clamp(0.8125rem, 0.7822rem + 0.1294vw, 0.9375rem);

      @include breakpoint(large) {
        padding: 0 rem(32);
      }

      &_text {
        display: block;
        padding-bottom: rem(16);
        font-weight: var(--font-regular);

        a {
          color: var(--color-primary);
          font-weight: var(--font-medium);
          text-decoration: underline;
        }
      }
    }
  }

  &_icon {
    position: relative;
    width: rem(24);
    height: rem(24);
    background: var(--color-primary);
    border-radius: 50%;
    transition: 0.4s cubic-bezier(0.2, 0.6, 0.3, 1.1);
    margin-left: 16px;
    @include breakpoint(large) {
      width: rem(32);
      height: rem(32);
    }

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 50%;
      width: 2px;
      background: var(--color-white);
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 2px;
      width: 50%;
      background: var(--color-white);
    }

    &--open {
      transform: rotate(360deg);
      &:before {
        width: 0;
      }
    }
  }

  &_button {
    margin-top: rem(40);
  }
}
