.about {
  padding-bottom: rem(64);

  &_text {
    margin: rem(8) auto rem(24) auto;
    // font-size: clamp(0.875rem, 0.784rem + 0.3883vw, 1.25rem);
    font-size: rem(15);
    @include breakpoint(medium) {
      margin: rem(24) auto rem(24) auto;
    }
    @include breakpoint(large) {
      margin: rem(24) auto rem(100) auto;
      font-size: clamp(1.25rem, 0.75rem + 0.625vw, 1.5rem);
    }

    p {
      margin-bottom: rem(32);

      &:last-child {
        margin-bottom: 0;
      }
    }

    strong,
    a {
      color: var(--color-primary);
    }

    a {
      text-decoration: underline;
    }
  }

  &_box {
    &_wrap {
      margin-top: rem(70);
      
      @include breakpoint(large) {
        max-width: 2200px;
        margin: 0 auto;
        padding: 0 rem(32);
      }
    }

    &_item {
      position: relative;
      margin-bottom: rem(50);

      @include breakpoint(large) {
        display: flex;
        margin-bottom: rem(64);
        border-radius: 16px;
        overflow: hidden;
        min-height: 500px;
        align-items: center;
      }

      div{
        margin-top: 0 !important;
      }

      img {
        border-radius: 0 !important;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:nth-child(2n) {
        flex-flow: row-reverse;
        .about_box_item_image {
          left: 0;
          right: auto;
        }
      }

      &_content {
        padding: rem(8) rem(16) rem(32) rem(16);

        @include breakpoint(medium) {
          padding: rem(24) rem(48) rem(48) rem(48);
        }
        @include breakpoint(large) {
          padding: rem(64);
          width: 50%;
        }
        @include breakpoint(huge) {
          padding: rem(80);
        }
      }

      &_title {
        margin-bottom: rem(16);
        font-size: clamp(1.625rem, 1.4733rem + 0.6472vw, 2.25rem);
      }

      &_text {
        font-size: rem(14);
        font-weight: 300;
        color: rgba(250, 250, 250, 0.9);
        @include breakpoint(medium) {
          font-size: rem(15);
        }
        @include breakpoint(large) {
          max-width: 80%;
        }

        p {
          margin-bottom: rem(8);
        }

        a {
          color: var(--color-primary);
          font-weight: var(--font-medium);
        }
      }

      &_image {
        @include breakpoint(large) {
          position: absolute;
          right: 0;
          width: 50%;
          height: 100%;
        }
        img {
          height: 100%;
          object-fit: cover;
          min-height: 160px;
          max-height: 400px;
          @include breakpoint(large) {
            max-height: unset;
          }
        }
      }

      &_shape {
        background: var(--color-background);
      }
    }
  }

  &_quote {
    @include breakpoint(large) {
      margin: rem(64) 0;
    }
    @include breakpoint(huge) {
      margin: rem(100) 0;
    }
  }

  &_bottom_img {
    display: flex;
    justify-content: center;
  }
}
