.inventory {
  &_top {
    // @include breakpoint(medium) {
    //   display: flex;
    //   padding: rem(32) rem(16) rem(60) rem(16);
    //   gap: 32px;
    // }
    @include breakpoint(medium) {
      max-width: 700px;
      margin: auto;
    }
    @include breakpoint(large) {
      display: flex;
      padding: rem(60) rem(32) rem(60) rem(32);
      max-width: 1730px;
      margin: auto;
      gap: 32px;
      align-items: flex-start;
    }
    @include breakpoint(huge) {
      padding: rem(60) rem(60) rem(60) rem(60);
      gap: 64px;
    }

    &_gallery {
      position: relative;
      @include breakpoint(large) {
        width: 58%;
        order: 2;
        padding-top: rem(40);
      }
    }

    &_shape {
      margin-top: -24px;
    }
  }

  &_armor {
    display: flex;
    align-items: center;
    position: absolute;
    left: rem(8);
    bottom: rem(48);
    font-size: rem(13);
    font-weight: var(--font-large);
    span {
      margin-left: rem(4);
      text-transform: uppercase;
      font-size: rem(20);
    }
  }

  &_breadcrumbs {
    color: var(--color-primary);
    text-transform: uppercase;
    font-size: rem(12);
    font-weight: var(--font-demi);
    margin-bottom: rem(16);

    @include breakpoint(large) {
      font-size: rem(14);
    }

    span {
      margin: 0 3px;
    }
  }

  &_details {
    position: relative;
    padding: 0 rem(16);
    margin-top: rem(-16);
    z-index: 1;

    @include breakpoint(medium) {
      margin-top: rem(60);
    }

    @include breakpoint(large) {
      width: 42%;
      padding: 0;
      margin-top: 0;
      min-width: 590px;
    }

    &_title {
      margin-bottom: rem(16);
      font-size: rem(30);
      font-weight: var(--font-large);
      @include breakpoint(large) {
        font-size: rem(48);
      }
    }

    &_description {
      margin-bottom: rem(40);
      color: var(--color-grayLight);
    }
  }

  // &_tabs {
  //   &_nav {
  //     display: flex;
  //     flex: 0 0 auto;
  //     font-size: rem(13);
  //     font-weight: var(--font-large);

  //     @include breakpoint(large) {
  //       // font-size: rem(15);
  //       width: 100%;
  //       text-align: center;
  //     }

  //     &_wrap {
  //       display: flex;
  //       overflow-x: auto;
  //       margin-left: rem(-8);
  //       margin-right: rem(-16);
  //       margin-bottom: rem(24);

  //       padding: rem(4);
  //       background: var(--color-secondary);
  //       border-top-left-radius: 99px;
  //       border-bottom-left-radius: 99px;
  //       @include breakpoint(large) {
  //         border-radius: 99px;
  //       }

  //       &::-webkit-scrollbar {
  //         display: none;
  //       }

  //       @include breakpoint(large) {
  //         margin-right: 0;
  //         margin-left: 0;
  //       }
  //     }

  //     &_item {
  //       position: relative;
  //       padding: rem(10) rem(16);
  //       border-radius: 99px;
  //       cursor: pointer;
  //       z-index: 2;

  //       @include breakpoint(large) {
  //         width: calc(100% / 3);
  //       }

  //       &:first-child().inventory_tabs_nav_item_active{
  //         & ~ .inventory_tabs_nav_glider {
  //           transform: translateX(0);
  //         }
  //       }
  //       &:nth-child(2).inventory_tabs_nav_item_active{
  //         & ~ .inventory_tabs_nav_glider {
  //           transform: translateX(100%);
  //         }
  //       }
  //       &:nth-child(3).inventory_tabs_nav_item_active{
  //         & ~ .inventory_tabs_nav_glider {
  //           transform: translateX(calc(200% - 8px));
  //         }
  //       }

  //       &_active {

  //       }
  //     }

  //     &_glider{
  //       position: absolute;
  //       display: flex;
  //       height: 35px;
  //       width: 150px;
  //       background-color: var(--color-gray3);
  //       z-index: 1;
  //       border-radius: 99px;
  //       transition: 0.25s ease-out;
  //       @include breakpoint(large) {
  //         width: calc(100% / 3);
  //       }
  //     }
  //   }

  //   &_content {
  //     position: relative;
  //     // min-height: 600px;

  //     &_item {
  //       position: absolute;
  //       top: 0;
  //       left: 0;
  //       right: 0;
  //       z-index: -1;

  //       &:not(.inventory_tabs_content_item_active) {
  //         .inventory_tabs_content_list {
  //           opacity: 0;
  //         }
  //       }

  //       &_active {
  //         position: relative;
  //         z-index: 1;
  //       }
  //     }

  //     &_list {
  //       transition: opacity 0.2s ease-in-out;

  //       &_item {
  //         display: flex;
  //         justify-content: space-between;
  //         font-size: rem(13);
  //         border-bottom: 1px solid var(--color-gray);
  //         padding: rem(12) 0;

  //         @include breakpoint(large) {
  //           font-size: rem(14);
  //         }

  //         // span {
  //         //   font-weight: var(--font-large);
  //         // }
  //       }
  //     }
  //   }
  // }

  &_images {
    padding: rem(100) 0;

    &_slider {
      margin-top: -99px;
      margin-bottom: 1px;
    }
  }

  &_tabs_content {
    position: relative;
    // min-height: 600px;

    &_item {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: -1;
      visibility: hidden;

      &:not(.inventory_tabs_content_item_active) {
        .inventory_tabs_content_list {
          opacity: 0;
        }
      }

      &_active {
        position: relative;
        z-index: 1;
        visibility: visible;
      }
    }

    &_list {
      transition: opacity 0.2s ease-in-out;

      &_item {
        display: flex;
        justify-content: space-between;
        font-size: rem(13);
        border-bottom: 1px solid var(--color-gray);
        padding: rem(12) 0;

        @include breakpoint(large) {
          font-size: rem(14);
        }

        // span {
        //   font-weight: var(--font-large);
        // }
      }
    }
  }
}
