.inventory {
  &_top {
    position: relative;
    z-index: 2;
    // @include breakpoint(medium) {
    //   display: flex;
    //   padding: rem(32) rem(16) rem(60) rem(16);
    //   gap: 32px;
    // }
    @include breakpoint(medium) {
      max-width: 700px;
      margin: auto;
    }
    @include breakpoint(large) {
      display: flex;
      padding: rem(60) rem(32) 0 rem(32);
      max-width: 1650px;
      margin: auto;
      gap: 32px;
      align-items: flex-start;
    }
    @include breakpoint(huge) {
      gap: 64px;
    }

    &_gallery {
      position: relative;
      overflow: hidden;
      @include breakpoint(large) {
        width: 58%;
        order: 2;
        flex: 1;
      }

      &_wrap {
        position: relative;
        @include breakpoint(large) {
          margin-bottom: rem(16);
        }
      }

      &_description {
        display: none;
        @include breakpoint(large) {
          display: flex;
          gap: 8px;
          align-items: center;
          margin-bottom: rem(16);
          font-size: rem(14);
        }
      }
    }

    &_shape {
      margin-top: -24px;
    }

    &_button {
      margin-top: rem(32);
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include breakpoint(small) {
        &_link {
          padding: rem(14) rem(24);
        }
      }
      @include breakpoint(large) {
        justify-content: space-evenly;
        .inventory_sticker {
          display: none;
        }
      }
    }
  }

  &_armor {
    display: flex;
    align-items: center;
    position: absolute;
    left: rem(8);
    bottom: rem(24);
    font-size: rem(13);
    font-weight: var(--font-large);

    span {
      margin-left: rem(4);
      text-transform: uppercase;
      font-size: rem(20);
    }

    @include breakpoint(medium) {
      bottom: rem(120);
    }

    @include breakpoint(large) {
      bottom: rem(8);
    }
  }

  &_right_bottom {
    display: none;
    @include breakpoint(large) {
      display: flex;
      gap: 16px;
    }
  }

  &_sticker {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    @include breakpoint(large) {
      flex: 1;
    }
    svg {
      width: 45px;
    }

    &_text {
      display: flex;
      flex-flow: column;
    }

    span {
      color: var(--color-primary);
      font-weight: var(--font-medium);
      line-height: 1.1;
      font-size: rem(13);
      // @include breakpoint(large) {
      //   font-size: rem(16);
      //   line-height: 1;
      // }
      &:first-child {
        font-size: rem(22);
        // @include breakpoint(large) {
        //   font-size: rem(27);
        // }
      }
      &:nth-child(3) {
        font-size: rem(15);
        // @include breakpoint(large) {
        //   font-size: rem(18);
        // }
      }
    }
  }

  &_breadcrumbs {
    color: var(--color-primary);
    text-transform: uppercase;
    font-size: rem(12);
    font-weight: var(--font-demi);
    margin-bottom: rem(16);

    @include breakpoint(large) {
      font-size: rem(14);
    }

    span {
      margin: 0 3px;
    }
  }

  &_details {
    position: relative;
    padding: 0 rem(16);
    margin-top: rem(-16);
    z-index: 1;

    @include breakpoint(medium) {
      margin-top: rem(60);
      text-align: center;
    }

    @include breakpoint(large) {
      width: 42%;
      padding: 0;
      margin-top: 0;
      width: 538px;
      text-align: left;
    }

    &_title {
      margin-bottom: rem(16);
      font-size: rem(30);
      font-weight: var(--font-large);
      @include breakpoint(large) {
        margin-bottom: rem(32);
        font-size: rem(40);
      }
    }

    &_description {
      display: flex;
      gap: 8px;
      align-items: center;
      margin-bottom: rem(40);
      color: var(--color-grayLight);
      font-size: rem(13);
      p {
        flex: 1;
      }
      @include breakpoint(small) {
        svg {
          width: 20px;
        }
      }
      @include breakpoint(medium) {
        display: none;
      }
    }
  }

  &_tabs_content {
    position: relative;

    @include breakpoint(large) {
      .inventory_tabs_content_list_secondary {
        display: none;
      }
    }

    @include breakpoint(small) {
      max-height: 210px;
      overflow: hidden;
      transition: max-height 0.3s ease;

      &_active {
        max-height: 2000px;
      }

      &_viewMore {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: rem(20) 0;
        text-align: center;
        cursor: pointer;
        font-size: rem(15);
        overflow: hidden;
        background: #0d0d0d;

        svg {
          transform: rotate(90deg);
        }

        span {
          position: relative;
        }

        &:before {
          position: absolute;
          content: '';
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background: linear-gradient(
            0deg,
            rgba(20, 19, 15, 1) 0%,
            rgba(20, 19, 15, 0) 100%
          );
          // z-index: 1;
          background: #101010 url('/assets/noise3.png');
          background-size: 100px;
          // filter: url(#esteisalegend);
          // mix-blend-mode: soft-light;
          // opacity: 0.85;
          // isolation: isolate;
        }
      }
    }

    &_item {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: -1;
      visibility: hidden;

      &:not(.inventory_tabs_content_item_active) {
        .inventory_tabs_content_list {
          opacity: 0;
        }
      }

      &_active {
        position: relative;
        z-index: 1;
        visibility: visible;
      }
    }

    &_list {
      transition: opacity 0.2s ease-in-out;

      &_secondary {
        @include breakpoint(large) {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          width: calc(100% - 160px - 16px);
          .inventory_tabs_content_list_item {
            width: calc(50% - 16px);
          }
        }
        @include breakpoint(huge) {
          width: calc(100% - 160px - 32px);
          .inventory_tabs_content_list_item {
            width: calc(50% - 32px);
          }
        }
      }

      &_item {
        display: flex;
        justify-content: space-between;
        font-size: rem(12);
        line-height: 1.3;
        border-bottom: 1px solid var(--color-gray);
        padding: rem(12) 0;

        @include breakpoint(huge) {
          font-size: rem(13);
        }

        span {
          margin-left: rem(8);
          text-align: right;
          font-weight: var(--font-medium);
        }

        &_specs {
          cursor: pointer;
          font-size: rem(14);
          @include breakpoint(large) {
            font-size: rem(13);
          }
        }

        // @include breakpoint(large) {
        //   font-size: rem(14);
        // }

        // span {
        //   font-weight: var(--font-large);
        // }
      }
    }
  }

  &_description{
    padding-top: rem(100);
    text-align: center;
    @include breakpoint(large) {
      font-size: rem(20);
    }
  }
}
