.fillingText {
  padding-top: rem(64);
  padding-bottom: rem(64);
  color: white;
  overflow: hidden;

  @include breakpoint(medium) {
    padding-top: rem(100);
    padding-bottom: rem(100);
  }

  @include breakpoint(large) {
    padding-top: rem(140);
    padding-bottom: rem(140);
  }

  @include breakpoint(huge) {
    padding-top: rem(180);
    padding-bottom: rem(180);
  }

  &_text {
    font-size: clamp(1.375rem, 1.1019rem + 1.165vw, 2.5rem);

    span {
      position: relative;
      opacity: 0.1;
      z-index: 2;
    }
  }

  &_subheading {
    position: relative;
    margin-bottom: rem(24);
    color: var(--color-primary);
    font-size: rem(16);
    font-weight: var(--font-medium);
    letter-spacing: -0.6px;
    z-index: 2;

    @include breakpoint(large) {
      margin-bottom: rem(24);
      font-size: rem(24);
    }

    strong,
    b {
      font-weight: var(--font-bold);
    }
  }

  &_content {
    @include breakpoint(large) {
      // max-width: 1510px;
      max-width: 1260px;
      margin: auto;
    }
  }
}
