.stickyHorizontalSlider {
  position: relative;
  // padding: rem(100) 0 0 0;
  z-index: 2;
  overflow: hidden;

  &_inventory {
    .stickyHorizontalSlider_inner {
      @include breakpoint(medium) {
        flex-wrap: wrap;
        padding: 0 rem(16);
        gap: 16px;
      }
    }
    .stickyHorizontalSlider_item {
      @include breakpoint(medium) {
        flex: 0 0 calc(100% / 2 - 11px);
        flex: 100%;
        margin: 0 0 rem(16) 0;

        &:hover {
          transform: none;
          .stickyHorizontalSlider_item_image {
            transform: scale(1.04);

            &_wrap {
              box-shadow:
                0 20px 25px -5px #000,
                0 8px 10px -6px #000;
            }
          }
        }
      }

      @include breakpoint(large) {
        flex: 0 0 calc(100% / 4 - 12px);
      }

      @include breakpoint(huge) {
        flex: 0 0 calc(100% / 5 - 13px);
      }

      &:last-child {
        margin-right: 0;
      }

      &:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.8) 0%,
          rgba(0, 0, 0, 0) 100%
        );
        border-radius: 8px;
        z-index: 1;
      }

      &_content {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
      }

      // &_image{
      //   filter: brightness(0.5);
      // }

      &_title {
        color: var(--color-white);

      }
    }
  }

  @include breakpoint(large) {
    padding-left: 0;
    // padding-top: rem(150);
    // padding-bottom: rem(75);
  }

  @include breakpoint(huge) {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  & > div {
    width: 100%;
  }

  &_heading {
    max-width: unset;
    width: 100%;
  }

  &_inner {
    display: flex;

    @include breakpoint(large) {
      overflow: unset;
      margin-bottom: rem(40);
      font-size: rem(16);
      position: relative;
    }
  }

  &_item {
    position: relative;
    margin-left: rem(16);
    flex: 0 0 70%;

    @include breakpoint(medium) {
      flex: 0 0 40%;
      cursor: pointer;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(0.985);
        .stickyHorizontalSlider_item_image {
          transform: scale(1.04);

          &_wrap {
            box-shadow:
              0 8px 16px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
          }
        }
      }
    }

    @include breakpoint(large) {
      margin-left: rem(24);
      flex-shrink: 0;
      flex: 0 0 25%;

      .stickyHorizontalSlider_curved & {
        flex: unset;
      }
    }

    @include breakpoint(huge) {
    }

    &:last-child {
      margin-right: rem(15);
    }

    &_image {
      object-fit: cover;

      @include breakpoint(medium) {
        height: rem(200);
        transition: transform 0.3s ease-in-out;

        &_wrap {
          transition: box-shadow 0.3s ease-in-out;
        }
      }

      @include breakpoint(large) {
        height: rem(400);
        width: 100%;
      }

      &_wrap {
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        aspect-ratio: 70/45;

        .stickyHorizontalSlider_cuvred & {
          border-radius: 24px;
          @include breakpoint(medium) {
            border-radius: 32px;
          }
          @include breakpoint(large) {
            border-radius: 48px;
          }
        }
      }
    }

    &_content {
      padding: rem(8);
      @include breakpoint(medium) {
        // padding: rem(16);
      }
      @include breakpoint(large) {
        max-width: 600px;
      }
    }

    &_title {
      // margin-bottom: rem(16);
      font-weight: var(--font-regular);
      color: var(--color-dark);
      font-size: rem(15);
      @include breakpoint(large) {
        font-size: rem(18);

        .stickyHorizontalSlider_curved & {
          font-size: rem(25);
        }
      }
    }

    &_date {
      font-size: rem(11);
      font-weight: var(--font-medium);
      color: var(--color-primary);
      @include breakpoint(large) {
        font-size: rem(14);
      }
    }
  }
}
