.stickyHorizontalSlider {
  position: relative;
  // max-width: 100%;
  padding: rem(100) 0 0 0;
  // color: white;
  z-index: 2;
  overflow: hidden;

  @include breakpoint(large) {
    padding-left: 0;
    padding-top: rem(150);
    padding-bottom: rem(75);
  }

  &_inner {
    // overflow: auto;
    // -webkit-overflow-scrolling: touch;
    // -ms-overflow-style: none;
    // scrollbar-width: none;
    display: flex;
    // flex-wrap: nowrap;

    @include breakpoint(large) {
      overflow: unset;
      margin-bottom: rem(40);
      font-size: rem(16);
      position: relative;
      padding-left: 16vw;
      // &:after {
      //   display: none;
      // }
    }

    // &:after {
    //   content: '';
    //   display: block;
    //   width: 1px;
    //   height: 100%;
    //   border: 1px solid transparent;
    // }

    // &::-webkit-scrollbar {
    //   display: none;
    // }

    // &.in-view .stickyHorizontalSlider_item {
    //   opacity: 1;
    // }
  }

  &_sticky {
    // @include breakpoint(large) {
    //   position: sticky;
    //   top: 100px;
    //   overflow: hidden;
    // }
  }

  &_heading {
    padding-left: rem(16);
    // color: var(--color-dark);
    @include breakpoint(medium) {
      padding-left: rem(64);
    }
    @include breakpoint(large) {
      padding-left: 23vw;
    }
  }

  &_item {
    margin-left: rem(16);
    min-width: 280px;

    @include breakpoint(medium) {
      min-width: 36vw;
      max-width: 690px;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(0.975);
        .stickyHorizontalSlider_item_image {
          transform: scale(1.06);

          &_wrap{
            box-shadow:
              0 8px 16px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
          }
        }
      }
    }

    @include breakpoint(large) {
      margin-left: rem(24);
      flex-shrink: 0;
    }

    &:last-child {
      margin-right: rem(15);
    }

    &_image {
      // width: 100%;
      // height: rem(180);
      // border-radius: 48px;
      // max-height: 50vh;
      object-fit: cover;

      @include breakpoint(medium) {
        height: rem(200);
        transition: transform 0.3s ease-in-out;

        &_wrap {
          // clip-path: url(#clip);
          transition: box-shadow 0.3s ease-in-out;
        }
      }

      @include breakpoint(large) {
        height: rem(400);
      }

      &_wrap {
        overflow: hidden;
        border-radius: 24px;
        @include breakpoint(medium) {
          border-radius: 32px;
        }
        @include breakpoint(large) {
          border-radius: 48px;
        }
      }
    }

    &_content {
      padding: rem(8) rem(8) 0 rem(8);
      @include breakpoint(medium) {
        padding: rem(16) rem(16) 0 rem(16);
      }
      @include breakpoint(large) {
        max-width: 600px;
      }
    }

    &_title {
      margin-bottom: rem(16);
      // text-transform: uppercase;
      font-weight: var(--font-regular);
      // font-size: rem(17);
      color: var(--color-dark);
      @include breakpoint(large) {
        font-size: rem(25);
      }
    }

    &_date {
      font-size: rem(11);
      font-weight: var(--font-medium);
      // text-transform: uppercase;
      color: var(--color-primary);
      @include breakpoint(large) {
        font-size: rem(14);
      }
    }
  }
}
