.nextContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  max-height: calc(97vh - 36px);
  overflow-y: scroll;

  @include breakpoint(medium) {
    width: 80%;
    margin: auto;
  }
  @include breakpoint(large) {
    flex-direction: row;
    overflow: hidden;
  }
}

.imageContainer {
  position: relative;
  margin-bottom: 10px;

  @include breakpoint(large) {
    margin-bottom: 0;
    padding-right: 10px;
    width: 60%;
  }

  img {
    border-radius: 8px;
    width: auto;
  }

  video {
    max-width: 100%;
  }
}

.infoContainer {
  @include breakpoint(large) {
    width: 40%;
  }
}

.year {
  color: black;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;

  @include breakpoint(large) {
    font-size: 3rem;
  }
}

.caption {
  color: black;
  text-align: left;
  font-size: rem(14);
  margin-bottom: 16px;
}

.thumbnailContainer {
  display: grid;
  gap: 8px;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}

.thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  outline: 2px solid var(--color-grayLight);
  transition: outline 0.3s ease-in-out;
  @include breakpoint(large) {
    cursor: pointer;
  }

  img {
    width: 100%;
    max-width: 120px;
    margin: auto;
  }

  &.selectedThumbnail,
  &:hover {
    outline-color: var(--color-green);
  }
}
