.design {
  &_title {
    margin-bottom: rem(16);
    text-transform: uppercase;
    color: var(--color-primary);
    font-weight: var(--font-demi);
    white-space: pre-wrap;
    font-size: rem(20);
    font-size: clamp(1.25rem, 1.1286rem + 0.5178vw, 1.75rem);

    span {
      white-space: pre-wrap;
    }
  }

  &_heading {
    display: block;
    margin-bottom: rem(16);
    font-size: rem(15);
    @include breakpoint(large) {
      font-size: rem(20);
      font-size: clamp(1.25rem, 0.75rem + 0.625vw, 1.5rem);
    }
  }

  &_text {
    font-size: rem(14);
    font-size: clamp(0.875rem, 0.8143rem + 0.2589vw, 1.125rem);
    line-height: 1.25;

    p {
      margin-bottom: rem(16);
    }

    a {
      color: var(--color-primary);
      font-weight: var(--font-medium);
    }
  }

  &_box {
    display: flex;
    flex-flow: column;
    gap: 32px;
    @include breakpoint(medium) {
      flex-flow: row;
      align-items: center;
      justify-content: center;
      margin-top: rem(40);

      .design_image {
        max-width: 50%;
        margin: unset;
      }

      .design_text {
        width: 50%;
      }
    }
    @include breakpoint(huge) {
      margin-top: rem(64);
      gap: 64px;
    }

    .design_text {
      @include breakpoint(large) {
        max-width: 500px;
      }
    }
  }

  &_image {
    margin: auto;
  }

  &_section1 {
    padding-top: rem(24);
  }

  &_section2 {
    margin: rem(80) auto rem(120) auto;
    @include breakpoint(large) {
      margin: rem(120) auto rem(180) auto;
    }
  }

  &_section3 {
    padding-top: rem(32);

    &_heading {
      margin-bottom: rem(16);
    }
    &_top {
      &_box {
        @include breakpoint(large) {
          display: flex;
          gap: 64px;

          .design_text {
            max-width: 500px;
          }
        }
      }
    }
  }

  &_armor {
    overflow: hidden;
    padding-top: rem(32);
    padding-bottom: rem(80);

    @include breakpoint(medium) {
      display: flex;
      flex-wrap: wrap;
      gap: 32px;
    }

    @include breakpoint(large) {
      padding-top: rem(64);
      padding-bottom: rem(160);
    }

    &_item {
      display: flex;
      flex-flow: column;
      padding: rem(32) rem(24) rem(16) rem(24);
      margin-bottom: rem(16);
      border-radius: 24px;
      @include breakpoint(medium) {
        width: calc(50% - 16px);
        margin-bottom: 0;
      }
      @include breakpoint(large) {
        width: calc(100% / 4 - 24px);
      }
      @include breakpoint(huge) {
        padding: rem(40);
      }
      &:first-child {
        background: #d3c65e4d;
      }
      &:nth-child(2) {
        background: #c6baa04d;
      }
      &:nth-child(3) {
        background: #5653584d;
      }
      &:nth-child(4) {
        background: #c7bca74d;
      }

      @for $i from 1 through 4 {
        &:nth-of-type(#{$i}) {
          transition-delay: $i * 0.1s;
        }
      }
    }

    &_title {
      text-transform: uppercase;
      font-weight: var(--font-demi);
      margin-bottom: rem(16);
      font-size: rem(17);
      @include breakpoint(large) {
        min-height: 40px;
        line-height: 1;
        font-size: rem(20);
      }
      @include breakpoint(huge) {
        font-size: rem(22);
      }
    }

    &_description {
      font-size: rem(15);
      height: 2.6em;
      overflow: hidden;
    }

    &_image {
      display: inline-flex;
      position: relative;
      margin: rem(24) auto 0 auto;
      max-width: 200px;
      @include breakpoint(large) {
        margin: rem(32) 0 -90px auto;
        right: -50px;
      }
      @include breakpoint(huge) {
        max-width: 240px;
      }
    }

    &_read {
      margin-top: rem(8);
      text-decoration: underline;
      font-weight: var(--font-demi);
      font-size: rem(15);
      cursor: pointer;
    }
  }

  &_section4 {
    padding-bottom: rem(64);
  }

  &_section5 {
    padding-top: rem(64);
    padding-bottom: rem(64);
    @include breakpoint(large) {
      padding-top: rem(100);
      padding-bottom: rem(140);
    }
  }
}
