.introText{
    padding: rem(160) 0;
    &_subheading{
        text-align: center;
        color: var(--color-primary);
        font-size: clamp(1rem, 0.7573rem + 1.0356vw, 2rem);
    }
    &_text{
        text-align: center;
        max-width: 850px;
        margin: auto;
        margin-top: rem(40);
        font-size: clamp(1rem, 0.7573rem + 1.0356vw, 2rem);
        a{
            color: var(--color-primary);
            font-weight: var(--font-medium);
        }
    }
}