.banner_top {
  padding: rem(97) rem(16) 0 rem(16);
  position: relative;
  display: flex;
  align-items: center;
  height: 340px;
  color: white;
  // margin-bottom: rem(50);
  @include breakpoint(large) {
    padding: rem(50);
    height: 580px;
  }

  &:before {
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      180deg,
      rgba(43, 43, 43, 0) 0%,
      rgba(43, 43, 43, 1) 100%
    );
  }

  &_content {
    position: relative;
    padding: rem(32) rem(16);
    background: rgba(23, 23, 23, 0.4);
    backdrop-filter: blur(16px);
    border-radius: 12px;
    text-align: center;
    @include breakpoint(large) {
      max-width: 780px;
      margin-left: auto;
    }
  }

  // &_title {
  //   font-size: rem(40);
  //   margin-bottom: rem(10);
  //   font-weight: var(--font-medium);
  //   @include breakpoint(large) {
  //     font-size: rem(60);
  //   }
  // }
  &_text {
    font-size: rem(18);
    @include breakpoint(large) {
      font-size: rem(24);
    }
  }
}
