.footer{
    padding-top: rem(32);
    padding-bottom: rem(32);

    &_top{
        padding-bottom: rem(32);
        border-bottom: 1px solid var(--color-grayDark);
        font-weight: var(--font-demi);

        &_heading{
            font-size: rem(33);
            margin-bottom: rem(8);
            text-transform: uppercase;
        }

        &_subheading{
            font-size: rem(17);
            color: var(--color-primary);
        }
    }

    &_middle{        
        @include breakpoint(large){
            display: flex;
            &_info{
                flex: 1;
                display: flex;
                flex-flow: column;
                gap: 24px;
            }
        }
    }

    &_column{
        padding-top: rem(32);      
        @include breakpoint(large){
            flex: 1;
        }

        &_title{
            margin-bottom: rem(32);
            font-size: rem(20);
            font-weight: var(--font-medium);
            text-transform: uppercase;
        }
        &_list{
            &_item{
                display: flex;
                align-items: center;
                gap: 16px;
                margin-bottom: rem(16);
            }
        }
        &_nav{  
            @include breakpoint(large){
                display: flex;
                flex-wrap: wrap;
                .footer_column_list_item{
                    width: 50%;
                }
            }
        }
    }
    &_socials{
        display: flex;
        justify-content: space-between;
        max-width: 315px;
    }

    &_bottom{
        padding-top: rem(32);
        margin-top: rem(64);
        border-top: 1px solid var(--color-grayDark);  
        text-align: center;
        @include breakpoint(large){
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        &_nav{
            margin-bottom: rem(50);
            @include breakpoint(large){
                display: flex;
                align-items: center;
                margin-bottom: 0;
                order: 1;
                gap: 40px;
            }
            &_item{
                margin-bottom: rem(20);
                @include breakpoint(large){
                    margin-bottom: 0;
                }
            }
        }
    }
}