.footer{
    padding-top: rem(32);
    padding-bottom: rem(32);

    &_top{
        padding-bottom: rem(32);
        border-bottom: 1px solid var(--color-grayDark);
        font-weight: var(--font-demi);

        &_heading{
            font-size: rem(33);
            margin-bottom: rem(8);
            text-transform: uppercase;
        }

        &_subheading{
            font-size: rem(17);
            color: var(--color-primary);
        }
    }

    &_column{
        padding-top: rem(32);

        &_title{
            margin-bottom: rem(32);
            font-size: rem(20);
            font-weight: var(--font-medium);
    
        }
        &_list{
            &_item{
                display: flex;
                align-items: center;
                gap: 16px;
                margin-bottom: rem(16);
            }
        }
    }
    &_socials{
        display: flex;
        justify-content: space-between;
        max-width: 315px;
        // path{
        //     fill: var(--color-dark);
        // }
    }

    &_bottom{
        padding-top: rem(32);
        margin-top: rem(64);
        border-top: 1px solid var(--color-grayDark);  
        text-align: center;
        
        &_nav{
            margin-bottom: rem(50);
            &_item{
                margin-bottom: rem(20);
            }
        }
    }
}