.header{
    padding-top: rem(16);
    padding-bottom: rem(16);
    height: 72px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    &.header--white{
        color: white;
    }

    &_wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_logo{
        @include breakpoint("large"){
            position: absolute;
            left: 0;
            right: 0;
            top: 20px;
            margin: auto;
            width: 140px;
            img{
                width: 110px;
            }
        }
    }

    &_burger{
        display: block;
        background: var(--color-dark);
        height: 3px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
        .header--white &{
            background: white;
        }
        &:before, &:after{
            content: "";
            display: block;
            background: var(--color-dark);
            position: absolute;
            height: 3px;
            width: 30px;
            transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
            border-radius: 2px;
            .header--white &{
                background: white;
            }
        }
        &:before{
            margin-top: -8px;
        }
        &:after{
            margin-top: 8px;
        }
    }

    &_right{
        display: flex;
        align-items: center;
        gap: 32px;
    }

    &_lang{        
        font-weight: 500;
    }
}