.textReveal{
    width: 100%;
    height: 100vH;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &_text{
        overflow: hidden;
        font-size: clamp(2rem, 20cqi, 20rem);
        span{
            display: inline-block;
            transform: translateY(110%);
            transition: .5s;
        }
    }
}