.tabSlider {
  &_nav {
    position: relative;
    display: flex;
    font-size: rem(13);
    font-weight: var(--font-large);
    z-index: 2;
    margin: auto;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    @include breakpoint(medium) {
      display: inline-flex;
      font-size: rem(15);
    }
    @include breakpoint(huge) {
      // font-size: rem(16);
    }
    // @include breakpoint(large) {
    //   width: 100%;
    //   text-align: center;
    // }

    &::-webkit-scrollbar {
      display: none;
    }

    &_wrap {
      position: relative;
      overflow: hidden;
      margin-left: rem(-8);
      margin-right: rem(-16);
      margin-bottom: rem(24);
      padding: rem(4);
      background: var(--color-secondary);
      border-top-left-radius: 99px;
      border-bottom-left-radius: 99px;
      z-index: 2;
      box-shadow:
        0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);

      @include breakpoint(medium) {
        display: inline-flex;
        margin: auto;
        margin-bottom: rem(24);
        padding: rem(8);
        // max-width: 581px;
        border-radius: 99px;
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &_item {
      position: relative;
      padding: rem(10) rem(16);
      border-radius: 99px;
      cursor: pointer;
      z-index: 2;
      flex: 0 0 auto;
      // min-width: 38vw;
      text-align: center;

      @include breakpoint(medium) {
        // width: calc(100% / 3);
        min-width: unset;
        padding: rem(16) rem(24);
      }
      @include breakpoint(huge) {
        padding: rem(16);
      }

      @include breakpoint(small) {
        &_active {
          background-color: var(--color-gray3);
        }
      }
    }

    &_glider {
      @include breakpoint(medium) {
        position: absolute;
        // top: 4px;
        display: flex;
        // height: 35px;
        background-color: var(--color-gray3);
        z-index: 1;
        border-radius: 99px;
        transition: 0.4s ease-out;

        height: 50px;
        top: 8px;
      }

      @include breakpoint(large) {
        width: calc(100% / 3);
      }
      @include breakpoint(huge) {
        height: 50px;
      }
    }
  }
}
