.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: rem(60);
  padding-bottom: rem(60);
  row-gap: 32px;
  @include breakpoint(medium) {
    column-gap: 16px;
  }
  @include breakpoint(large) {
    column-gap: 16px;
    row-gap: 64px;
  }

  &_item {
    position: relative;
    display: flex;
    flex-flow: column;
    max-width: 500px;
    padding-bottom: 70px;
    @include breakpoint(large) {
      width: calc(100% / 2 - 12px);
      max-width: unset;
      padding-bottom: 74px;

      &:last-child,
      &:nth-last-child(2){
        width: calc(50% - 12px);
        max-width: 916px;
      }
    }

    @include breakpoint(huge) {
      width: calc(100% / 3 - 12px);
      max-width: 608px;

      &:last-child,
      &:nth-last-child(2){
        width: calc(50% - 12px);
        max-width: 916px;
      }
    }

    &:before{
      position: absolute;
      content: '';
      left: -8px;
      right: -8px;
      top: -10px;
      background: url('/assets/topCurve.svg') no-repeat;
      height: 50px;
      background-size: cover;
      z-index: -1;
    }
    &:after{
      position: absolute;
      content: '';
      left: -8px;
      right: -8px;
      bottom: 0;
      top: 20px;
      background: white;
      z-index: -1;
    }

    &:hover{
      // .categories_item_title{
      //   visibility: hidden;
      //   opacity: 0;
      // }
      // .categories_item_buttons{
      //   visibility: visible;
      //   opacity: 1;
      // }
      .categories_item_content{
        max-height: 150px;
      }
    }

    &_content{
      position: relative;
      background: white;
      padding: rem(16) rem(8) rem(16) rem(8);
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      text-align: center;
      
      max-height: 70px;
      overflow: hidden;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      transition: max-height .3s ease-in-out;
      @include breakpoint(large) {        
        padding: rem(24) rem(8) rem(24) rem(8);
      }
    }

    &_title {
      margin-bottom: rem(16);
      font-size: rem(16);
      font-weight: var(--font-medium);
      text-transform: uppercase;
      // transition: opacity .3s ease-in;
      @include breakpoint(medium) {
        font-size: rem(22);
        margin-bottom: rem(24);
      }
    }

    &_buttons {
      display: flex;
      justify-content: center;
      flex-flow: column;
      gap: 8px;
      max-width: 220px;
      margin: auto;

      // position: absolute;
      // top: 16px;
      // left: 0;
      // right: 0;
      // margin: auto;
      // visibility: hidden;
      // opacity: 0;
      // transition: opacity .3s ease-out;
      @include breakpoint(medium) {
        flex-flow: row;
        align-items: center;
        max-width: unset;
        gap: 16px;

        a span{
          padding: 13px 16px;
          width: 188px;
        }
      }
    }

    &_image {
      margin: auto auto 0 auto;
      width: 100%;
    }
  }
}