
.fade-in {
opacity: 0;
transition: opacity 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)''
}
.fade-in.in-view {
opacity: 1;
}
.fade-in-up {
opacity: 0;
transform: translate3d(0, 50px, 0);
transition:
    opacity 1s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    transform 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.fade-in-up.in-view {
opacity: 1;
transform: translate3d(0, 0, 0);
}

.fade-in-left {
opacity: 0;
transform: translate3d(-250px, 0, 0);
transition:
    opacity 1s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    transform 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.fade-in-left.in-view {
opacity: 1;
transform: translate3d(0, 0, 0);
}

.fade-in-scale {
opacity: 0;
transform: scale(0.5);
transition:
    opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.fade-in-scale.in-view {
opacity: 1;
transform: scale(1);
}

.delay-3 {
transition-delay: 0.3s;
}
.delay-5 {
transition-delay: 0.5s;
}
.delay-8 {
transition-delay: 0.8s;
}
.delay-12 {
transition-delay: 1.1s;
}


.block-reveal{
position: relative;
display: inline-block;
&:after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 0%;
    height: 100%;
    background: var(--color-primary);
    animation-delay: 1s;
}
span{
    opacity: 0;
    animation-delay: 1.6s;
}
&.in-view{
    span{
    animation: appear-text 0.0001s linear forwards;
    }
    &:after{
    animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    }
}
}
@keyframes rev-block {
0% {
    left: 0;
    width: 0%;
}
50% {
    left: 0;
    width: 100%;
}
100% {
    left: 100%;
    width: 0%;
}
}

@keyframes appear-text {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
  