:root {
    // Colors
    --color-background: #F3F3F3;
    --color-primary: #7D6E4D;
    
    --font-light: 300;
    --font-normal: 400;
    --font-medium: 500;
    --font-demi: 600;
    --font-bold: 700;
  
    /* spacing values */
    --space-xs:   1.5rem;   // 24px
    --space-sm:   2rem;     // 32px
    --space-md:   5rem;
    --space-lg:   8rem;
    --space-xl:   10rem;
    --space-xxl:  14rem;
  
    --header-height: 72px;
  }