@import './reset.css';
@import './_design_tokens.scss';
@import './_animations.scss';
@import './_button.scss';
@import './_overrides.scss';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--color-background);
  top: 0 !important;
  padding-top: var(--header-height);
}
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  // -webkit-user-select: none;
  // -khtml-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  // user-select: none;
}
// :focus { outline: none !important; }

.p0 {
  padding: 0;
}
.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.desktop-only {
  @include breakpoint(small) {
    display: none !important;
  }
}

.mobile-only {
  @include breakpoint(medium) {
    display: none !important;
  }
}

.container,
.container_small {
  padding: 0 rem(16);
  @include breakpoint(medium) {
    padding: 0 rem(32);
  }
  @include breakpoint(large) {
    max-width: 2200px;
    margin: 0 auto;

    &_small {
      max-width: 1440px;
    }
  }
}

.center {
  text-align: center;
}

.section_bordered {
  padding: rem(16);
  padding-top: 0;
  @include breakpoint(large) {
    padding: rem(32);
    padding-top: 0;
  }
}

.inline-block {
  display: inline-block;
}

.background-dark {
  color: var(--color-white);
  background: #101010 url(/assets/noise4.png);
  background-size: 30px;
}

.shape-before,
.shape-after {
  --background: #101010 url('/assets/noise4.png');
  position: relative;
  overflow-x: clip;
  height: 51px;
  @supports (-webkit-touch-callout: none) {
    overflow-x: hidden;
  }

  @include breakpoint(large) {
    height: 100px;

    &-small {
      height: 50px;
    }
  }

  &:after {
    content: '';
    position: absolute;
    // bottom: -3px;
    background-size: 100px;
    height: 100%;
    left: -50px;
    right: -50px;
    background: var(--background);
    background-size: 30px;
    @include breakpoint(large) {
      left: -100px;
      right: -100px;
    }
  }
}

::i-block-chrome,
.shape-before {
  overflow-x: hidden;
}

.shape-before-white {
  --background: var(--color-background);
}

.shape-before {
  margin-top: -50px;
  z-index: 1;
  @include breakpoint(large) {
    margin-top: -99px;
  }
  &:after {
    border-radius: 50% / 100% 100% 0 0;
    top: 0;
  }
}

.shape-after {
  &-white {
    background: var(--color-white);
  }
  &:after {
    border-radius: 50% / 0 0 100% 100%;
    top: 0;
  }
}
.skiptranslate,
.VIpgJd-ZVi9od-aZ2wEe-wOHMyf {
  display: none !important;
}

.modal {
  position: fixed;
  overflow: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  backdrop-filter: blur(20px);
  opacity: 0;
  transition: opacity 400ms ease;
  background: rgba(0, 0, 0, 0.48);

  &_active {
    display: block;
    z-index: 99;
    opacity: 1;
  }

  &_inner {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 40px auto;
    border-radius: 16px;
    background: var(--color-white);
    color: var(--color-secondary);
    padding: rem(24);
    padding-top: rem(64);
    @include breakpoint(large) {
      width: 88%;
      padding: rem(64);
      max-width: 1000px;
    }
  }

  &_title {
    margin-bottom: rem(24);
    font-size: rem(32);
    @include breakpoint(large) {
      font-size: rem(40);
    }
  }

  &_description {
    margin-bottom: rem(24);
    font-weight: var(--font-medium);
    @include breakpoint(large) {
      width: 70%;
      font-size: rem(18);
    }
  }

  &_box {
    @include breakpoint(large) {
      display: flex;
      align-items: center;
      gap: 64px;
    }
  }

  &_close {
    position: absolute;
    top: rem(16);
    right: rem(16);
    height: 32px;
    width: 32px;
    background-color: var(--color-dark);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &:after {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: 'X';
      font-size: 18px;
      color: #fff;
      line-height: 18px;
      text-align: center;
    }
  }
}

.errorPage {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  margin-top: var(--header-height);
  padding-bottom: rem(100);
  margin-bottom: rem(-40);
  min-height: calc(100vh - var(--header-height) + 50px);
  background-color: #000;
  color: var(--color-white);
  text-align: center;

  @include breakpoint(large) {
    min-height: calc(100vh - var(--header-height) + 100px);
  }

  &_h1 {
    margin-bottom: rem(16);
    font-size: clamp(4rem, 2.5437rem + 6.2136vw, 10rem);
    font-weight: var(--font-demi);

    @include breakpoint(large) {
      margin-bottom: rem(32);
    }
  }

  &_h2 {
    margin-bottom: rem(32);
    font-size: clamp(1.25rem, 1.0073rem + 1.0356vw, 2.25rem);

    @include breakpoint(large) {
      margin-bottom: rem(32);
    }
  }

  &_gradient {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      45deg,
      var(--color-background),
      #6f6044 50%,
      #2b2b2b
    );
    bottom: -20vh;
    filter: blur(20vh);
    height: 40vh;
  }
}

.divider_fade {
  width: 100%;
  height: 2px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    var(--color-primary) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

.carousel_arrows_full {
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: rem(4);
    -webkit-appearance: none;
    touch-action: manipulation;
    cursor: pointer;
    color: white;
    width: rem(28);
    height: rem(28);
    z-index: 1;
    background: var(--color-dark);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s ease;
    border: none;
    padding: 0;

    @include breakpoint(large) {
      margin: 0 auto;
      width: rem(40);
      height: rem(40);
    }

    &:nth-child(2) {
      left: auto;
      right: rem(4);
    }

    &:hover {
      background: var(--color-gray);
    }

    svg {
      width: 10px;
      @include breakpoint(large) {
        width: 16px;
      }
    }

    &:disabled {
      opacity: 0;
    }
  }
}

.boxA {
  border: 1px solid red;
  text-align: center;
  width: 80%;
  margin: 0 auto 50px auto;
  display: flex;
  flex-flow: column;
  align-items: center;

  video {
    max-width: 200px;
    height: auto;
  }
}
