@import './reset.css';
@import './_design_tokens.scss';
@import './_animations.scss';
@import './_button.scss';

html {
  scroll-behavior: smooth;
}

body {
  font-family: Termina, sans-serif;
  background: var(--color-background);
  color: var(--color-text);
  top: 0 !important;
  padding-top: var(--header-height);

  // @include breakpoint(medium) {
  //   padding-top: 0;
  // }

  &.background-dark {
    color: var(--color-white);
  }

  &.home {
    padding-top: 0;
    // .b-header {
    //   background-color: rgba(23, 23, 23, 0.8);
    //   backdrop-filter: blur(10px);
    // }
  }

  // &.header-transparent {
  //   &:not(.no-scroll):not(.background-dark) {
  //     .logo-fill {
  //       fill: var(--color-dark);
  //     }
  //   }
  //   &:not(.background-dark) .b-header {
  //     --color-white: var(--color-dark);
  //     svg {
  //       fill: var(--color-dark);
  //     }
  //   }
  //   .b-header {
  //     background: transparent;
  //     backdrop-filter: none;
  //   }
  // }
}
.no-scroll {
  overflow-y: hidden;
  height: 100vh;
  // margin-right: 20px;
  // position: fixed;
  // width: 100%;
}

em,
i {
  font-style: italic;
}
strong,
b {
  font-weight: var(--font-demi);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-medium);
  line-height: 1.2;
}

p,
a {
  line-height: 1.3;
}

a {
  color: inherit;
  text-decoration: none;
}
a:focus {
  outline: 0;
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

.desktop-only {
  @include breakpoint(small) {
    display: none !important;
  }
}

.mobile-only {
  @include breakpoint(medium) {
    display: none !important;
  }
}

.container,
.container_small {
  padding: 0 rem(16);
  @include breakpoint(large) {
    max-width: 1920px;
    margin: auto;
    padding: 0 rem(32);

    &_small {
      max-width: 1440px;
    }
  }
  // @include breakpoint(huge){
  //   padding: 0 rem(48);
  // }
}

.center {
  text-align: center;
}

.section_bordered {
  padding: rem(16);
  padding-top: 0;
  @include breakpoint(large) {
    padding: rem(32);
    padding-top: 0;
  }
}

.inline-block {
  display: inline-block;
}

.background-dark {
  // background: var(--color-dark) url('/assets/noise.png');
  // background-size: 100px;
  background: #0d0d0d;
  color: var(--color-white);
}

.noiseBg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: soft-light;
  opacity: 0.85;
  isolation: isolate;
  z-index: 1;
}

.shape-before,
.shape-after {
  // --background: var(--color-dark) url('/assets/noise.png');
  --background: #0d0d0d;
  position: relative;
  overflow-x: clip;
  height: 50px;
  // z-index: 1;
  @include breakpoint(large) {
    height: 100px;
  }

  &:after {
    content: '';
    position: absolute;
    background-size: 100px;
    height: 100%;
    left: -50px;
    right: -50px;
    background: var(--background);
    background-size: 100px;
    @include breakpoint(large) {
      left: -100px;
      right: -100px;
    }
  }
}

.shape-before-white {
  --background: #f3f3f3;
}

.shape-before {
  margin-top: -50px;
  @include breakpoint(large) {
    margin-top: -99px;
  }
  &:after {
    border-radius: 50% / 100% 100% 0 0;
  }
}

.shape-after {
  &-white {
    background: var(--color-background);
  }
  &:after {
    border-radius: 50% / 0 0 100% 100%;
  }
}

.c-title {
  margin-bottom: rem(32);
  font-size: rem(24);
  @include breakpoint(large) {
    margin-bottom: rem(48);
    font-size: rem(36);
  }
}

.skiptranslate,
.VIpgJd-ZVi9od-aZ2wEe-wOHMyf {
  display: none !important;
}

button.yarl__thumbnails_thumbnail_active {
  border-color: var(--color-primary);
}
div.yarl__slide_title {
  font-weight: var(--font-medium);
  white-space: normal;
}
div.yarl__slide_description {
  font-size: rem(14);
  font-weight: var(--font-light);
  @include breakpoint(large) {
    max-width: 700px;
    font-size: rem(16);
  }
}

@include breakpoint(large) {
  #test {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-bottom-right-radius: 32px;
    overflow: hidden;
  }

  #blob1 {
    width: 125vw;
    height: 50vw;
    border-radius: 75% 90%;
    background-color: rgb(143, 108, 159);
    background-color: rgb(66 39 39);
    transform: rotate(19deg);
    filter: blur(75px);
    mix-blend-mode: soft-light;

    position: absolute;
    top: 25vh;
    left: -15vw;

    top: 13rem;
    left: -4rem;
    width: 100%;
    height: 100%;
  }

  #blob2 {
    width: 70vw;
    height: 60vw;
    border-radius: 50% 33%;
    background-color: #7d6e4d85;
    position: absolute;
    top: 50%;
    left: 20%;
    filter: blur(75px);
  }

  #blob3 {
    width: 25vw;
    height: 120vh;
    border-radius: 45% 40%;
    position: absolute;
    top: 23%;
    left: 75%;
    background-color: rgb(199, 196, 222);
    background-color: rgb(255 255 255);
    filter: blur(75px);
    mix-blend-mode: overlay;
  }

  #noiseLayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-top-left-radius: 32px;
    border-bottom-right-radius: 32px;
    overflow: hidden;

    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      filter: url(#noiseFilter) brightness(0.4) contrast(1.1);
      mix-blend-mode: overlay;
    }
  }
}
