/* Termina-400 - Regular */
@font-face {
    font-family: 'Termina';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../public/fonts/Termina-Regular.eot'); /* IE9 Compat Modes */
    src:
      local(''),
      url('../../public/fonts/Termina-Regular.eot?#iefix')
        format('embedded-opentype'),
      /* IE6-IE8 */ url('../../public/fonts/Termina-Regular.woff2')
        format('woff2'),
      /* Super Modern Browsers */
        url('../../public/fonts/Termina-Regular.woff') format('woff'),
      /* Modern Browsers */
        url('../../public/fonts/Termina-Regular.ttf')
        format('truetype'),
      /* Safari, Android, iOS */
        url('../../public/fonts/Termina-Regular.svg#Inter')
        format('svg'); /* Legacy iOS */
}

/* Termina-500 - Medium */
@font-face {
  font-family: 'Termina';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../public/fonts/Termina-Medium.eot'); /* IE9 Compat Modes */
  src:
    local(''),
    url('../../public/fonts/Termina-Medium.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../../public/fonts/Termina-Medium.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../../public/fonts/Termina-Medium.woff') format('woff'),
    /* Modern Browsers */
      url('../../public/fonts/Termina-Medium.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../../public/fonts/Termina-Medium.svg#Inter')
      format('svg'); /* Legacy iOS */
}

/* Termina-600 - Demi */
@font-face {
  font-family: 'Termina';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../../public/fonts/Termina-Demi.eot'); /* IE9 Compat Modes */
  src:
    local(''),
    url('../../public/fonts/Termina-Demi.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../../public/fonts/Termina-Demi.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../../public/fonts/Termina-Demi.woff') format('woff'),
    /* Modern Browsers */
      url('../../public/fonts/Termina-Demi.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../../public/fonts/Termina-Demi.svg#Inter')
      format('svg'); /* Legacy iOS */
}

/* Termina-700 - Bold */
@font-face {
    font-family: 'Termina';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../../public/fonts/Termina-Bold.eot'); /* IE9 Compat Modes */
    src:
      local(''),
      url('../../public/fonts/Termina-Bold.eot?#iefix')
        format('embedded-opentype'),
      /* IE6-IE8 */ url('../../public/fonts/Termina-Bold.woff2')
        format('woff2'),
      /* Super Modern Browsers */
        url('../../public/fonts/Termina-Bold.woff') format('woff'),
      /* Modern Browsers */
        url('../../public/fonts/Termina-Bold.ttf')
        format('truetype'),
      /* Safari, Android, iOS */
        url('../../public/fonts/Termina-Bold.svg#Inter')
        format('svg'); /* Legacy iOS */
}